<ion-header>
    <ion-toolbar color="primary">
        <ion-back-button class="style-button-back" slot="start">
        </ion-back-button>
        <ion-buttons slot="end">
            <ion-button (click)="returnHome()" slot="end">
                <ion-icon class="style-icon-logout" slot="icon-only" name="home"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title class="title-toolbar">Detalle Cita</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content *ngIf="medic">
    <img class="portada" src="https://cdn.lavoz.com.ar/sites/default/files/styles/width_1072/public/nota_periodistica/cirujano_0.jpg " alt="edit user ">

    <div class="container-medic ">
        <ion-grid>
            <ion-row>
                <ion-col size="12">
                    <label class="medico ">Médico</label>
                </ion-col>
                <ion-col size="12">
                    <p class="name-medic " *ngIf="medic ">{{ medic.medico.priNombre }}-{{ medic.medico.priApellido }}</p>
                </ion-col>
                <ion-col size="12">
                    <h3 class="especialidad " *ngIf="medic ">{{ medic.medico.especialidad.nombre }}</h3>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>

    <div>
        <button class="label-content ">
      <ion-row>
        <button class="state " *ngIf="state "> {{state}} </button>
        <ion-col class="name " size="12 ">
            Cita médica con &nbsp;{{ medic.medico.priNombre }}&nbsp;{{ medic.medico.priApellido }}
        </ion-col>
        <ion-col class="fecha " size="12 ">
            {{ medic.fecha }} &nbsp; &#8212; &nbsp;{{ medic.hora }}
        </ion-col>
        <ion-col class="cm " size="12 ">
            {{ medic.centroMedico.detalle }} &nbsp; &#8212; &nbsp;{{ medic.centroMedico.ciudad }}
        </ion-col>
        </ion-row>
        <div class="container-posp ">
            <button class="cancelar-shedule " (click)="presentModal(medic) "> CANCELAR CITA</button>
            <button *ngIf="posponed " class="cancelar-shedule " (click)="accept( 'accepted', medic) "> AGENDAR CITA</button>
        </div>
        </button>
    </div>

    <div>
        <label class="info ">
      Realiza consultas médicas diarias a estudiantes y personal en general.
      Diagnostica y prescribe tratamientos médicos a los pacientes.
    </label>
        <ion-list class="container-ion-list ">
            <div class="container-locate ">
                <ion-icon class="icon-location " name="pin "></ion-icon>
                <span *ngIf="medic " class="text-locate ">
          {{ medic.fecha }} &nbsp; &#8212; &nbsp;{{ medic.hora }} </span>
            </div>
            <div class="container-calendar ">
                <ion-icon class="icon-location " name="calendar "></ion-icon>
                <span class="text-calendar ">Fecha de nacimiento 5 de Agosto de 1989</span>
            </div>
        </ion-list>
    </div>
</ion-content>