.bg-header {
    height: 40%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.text-center {
    color: white;
}

.container-medic {
    position: absolute;
}

.name-medic {
    width: 100%;
    top: 18%;
    position: absolute;
    left: 3%;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #f3f4f8;
    margin-top: -25%;
}

.especialidad {
    position: absolute;
    top: 23.5%;
    left: 3%;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: white;
    margin-top: -20%;
}

.medico {
    width: 22%;
    left: 3%;
    position: absolute;
    text-align: center;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    border-radius: 5px;
    color: #ffffff;
    background-color: #695cff;
    margin-top: -30%;
}

.ver-agenda {
    width: 145px;
    height: 37px;
    position: absolute;
    top: 4%;
    right: 5%;
    font-family: Poppins;
    font-size: 16px;
    border-radius: 25px;
    line-height: normal;
    color: #ffffff;
    background-image: linear-gradient(284deg, #645aff, #a573ff);
}

.title-toolbar {
    color: white;
    text-align: center;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
}

.style-icon-logout {
    color: white;
}

.info {
    width: 88%;
    height: auto;
    line-height: 1.63;
    font-family: Poppins;
    color: #1d1732;
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: justify;
    margin-top: -8%;
}

.container-locate {
    display: flex;
    margin-top: 5%;
    font-family: Poppins;
    font-size: 12.8px;
    color: #657785;
    margin-left: 3.5%;
}

.container-calendar {
    display: flex;
    margin-top: 2%;
    font-family: Poppins;
    font-size: 12.8px;
    color: #657785;
    margin-left: 3.5%;
}

.container-mc {
    display: -ms-flexbox;
    display: flex;
    font-family: Poppins;
    margin-left: 3.5%;
    width: 93%;
}

.icon-location {
    left: 5%;
    padding-left: 3%;
}

.icon-location-mc {
    left: 5%;
    padding-left: 3%;
}

.icon-calendar {
    left: 5%;
    padding-left: 3%;
}

.text-locate {
    padding-left: 4%;
    font-size: 15px;
    margin-top: 0%;
}

.text-map {
    color: #597bf0;
    margin-top: -4%;
    position: absolute;
    right: 1%;
    font-size: 12px;
}

.container-product-detail {
    width: 92%;
    margin: 4%;
    overflow: hidden;
    border-radius: 5px;
    position: relative;
    height: 204px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}

.text-mc {
    padding-left: 4%;
    font-size: 16px;
    margin-top: 2%;
    margin-left: -1%;
    font-weight: 500;
    color: black;
}

.text-mc-detail {
    padding-left: 19%;
    font-size: 12px;
    margin-top: -3%;
    margin-left: -1%;
    font-size: 14.8px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.72;
    letter-spacing: normal;
    color: #657785;
}

.text-calendar {
    padding-left: 4%;
    font-size: 15px;
    margin-top: 0%;
}

.medical-center {
    color: black;
    font-size: 20px;
    font-weight: 500;
    padding: 0% 6%;
}

.logo-circle {
    text-align: center;
    background: linear-gradient(to bottom, rgba(43, 52, 82, 0.67) 0%, rgba(43, 52, 82, 0.88) 100%), url("../../assets/imgs/profile.jpg") no-repeat 0px 0px;
    background-size: cover;
    min-height: 300px;
    padding: 4em 0 0;
    img {
        width: 140px;
        height: 140px;
        border-radius: 50%;
    }
    h3 {
        color: #fff;
        font-size: 2em;
        font-weight: 600;
    }
}

.border-effect1 {
    border: 2px dotted var(--ion-color-secondary);
    padding: 9px;
    background-size: cover;
    border-left: 2px dotted #d0d0d0;
    border-bottom: 2px dotted #d0d0d0;
    text-align: center;
}

form {
    margin-top: 12%;
}

@media (min-width: 619px) {
    .name-medic {
        top: calc(33% + (24 - 14) * ((100vw - 300px) / (1200 - 300))) !important;
        font-size: calc(25px + (24 - 14) * ((100vw - 300px) / (1200 - 300))) !important;
    }
    .especialidad {
        top: calc(37% + (24 - 14) * ((100vw - 300px) / (1200 - 300))) !important;
        font-size: calc(20px + (24 - 14) * ((100vw - 300px) / (1200 - 300))) !important;
    }
    .medico {
        top: calc(32% + (24 - 14) * ((100vw - 300px) / (1200 - 300))) !important;
        font-size: calc(20px + (24 - 14) * ((100vw - 300px) / (1200 - 300))) !important;
        width: calc(11% + (24 - 14) * ((100vw - 300px) / (1200 - 300))) !important;
    }
    .elige-opcion {
        font-size: calc(28px + (24 - 14) * ((100vw - 300px) / (1200 - 300))) !important;
    }
    .container-locate {
        font-size: calc(23px + (24 - 14) * ((100vw - 300px) / (1200 - 300))) !important;
    }
    .container-calendar {
        font-size: calc(23px + (24 - 14) * ((100vw - 300px) / (1200 - 300))) !important;
    }
    .text-locate {
        font-size: calc(23px + (24 - 14) * ((100vw - 300px) / (1200 - 300))) !important;
    }
    .medical-center {
        font-size: calc(27px + (24 - 14) * ((100vw - 300px) / (1200 - 300))) !important;
    }
    .text-calendar {
        font-size: calc(23px + (24 - 14) * ((100vw - 300px) / (1200 - 300))) !important;
    }
    .text-mc-detail {
        font-size: calc(23px + (24 - 14) * ((100vw - 300px) / (1200 - 300))) !important;
    }
    .text-mc {
        font-size: calc(23px + (24 - 14) * ((100vw - 300px) / (1200 - 300))) !important;
    }
    .info {
        font-size: calc(20px + (24 - 14) * ((100vw - 300px) / (1200 - 300))) !important;
        margin-top: calc(0% + (24 - 14) * ((100vw - 300px) / (1200 - 300))) !important;
    }
    .ver-agenda {
        font-size: calc(20px + (24 - 14) * ((100vw - 300px) / (1200 - 300))) !important;
    }
    .container-all {
        margin-top: calc(60% + (24 - 14) * ((100vw - 300px) / (1200 - 300))) !important;
    }
}