<ion-header>
    <ion-toolbar color="primary">
        <ion-back-button class="title-toolbar" slot="start">
        </ion-back-button>
        <ion-buttons slot="end">

            <ion-button (click)="returnHome()" slot="end">
                <ion-icon class="style-icon-logout" slot="icon-only" name="home"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title class="title-toolbar">Perfil Médico</ion-title>
    </ion-toolbar>
</ion-header>


<ion-content>
    <div>
        <img src="https://cdn.lavoz.com.ar/sites/default/files/styles/width_1072/public/nota_periodistica/cirujano_0.jpg">
        <!-- <img *ngIf="medic.fotoPerfil" src="http://192.168.0.104:9000{{medic.fotoPerfil}}"> -->
    </div>

    <button class="ver-agenda" id="previous" (click)="goToSchedule()">VER AGENDA</button>
    <div>
        <ion-grid>
            <ion-row>
                <ion-col>
                    <label class="medico">Médico</label>
                </ion-col>
                <ion-col size="12">
                    <p class="name-medic" *ngIf="medic">{{ medic.priNombre }}&nbsp;{{ medic.priApellido }}</p>
                </ion-col>
                <ion-col>
                    <h3 class="especialidad" *ngIf="medic">{{ medic.especialidad.nombre }}</h3>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>


    <label class="info">Realiza consultas médicas diarias a estudiantes y personal en general.
      Diagnostica y prescribe tratamientos médicos a los pacientes.</label>
    <ion-list *ngIf="medic">

        <div class="container-locate">
            <ion-icon class="icon-location" name="pin"></ion-icon>
            <span class="text-locate">{{ medic.ciudad }}</span>
        </div>
        <div class="container-calendar">
            <ion-icon class="icon-location" name="calendar"></ion-icon>
            <span class="text-calendar">Fecha de nacimiento 5 de Agosto de 1989</span>
        </div>
        <h3 class="medical-center">Centros Médicos</h3>
        <div class="container-">
            <ion-item class="container-mc" *ngFor="let item of medic.centroMedico">
                <p class="text-mc"> {{ item.nombre }} </p>

                <p class="text-map">
                    <ion-icon name="pin"></ion-icon> <b> </b> COMO LLEGAR
                </p>
                <label class="text-mc-detail">Ubicacion de centro medico </label>
            </ion-item>
        </div>
    </ion-list>
    <h3 class="medical-center">Consultorio</h3>
    <div *ngIf="slides" class="container-product-detail">
        <ion-slides pager>
            <ion-slide *ngFor="let slide of slides">
                <img [src]="slide.src" class="img-product">
                <!-- <p class="slide-name-medical-center">{{slide.medicalCenter}}</p>
            <p class="slide-text">{{slide.detalle}}</p> -->
            </ion-slide>
        </ion-slides>
    </div>


</ion-content>