<ion-content>

    <img class="splash" src="assets/imgs/splash-register.svg">
    <img class="logo" src="assets/imgs/medipharm.svg">
    <p class="new-register">REGISTRO NUEVO PACIENTE</p>


    <!-- <div class="user-photo">
          <ion-avatar>
              <img [src]="data.fotoPerfil || 'assets/imgs/perfil.svg'">
          </ion-avatar>
      </div>-->

    <ion-slides #slider class="slide-style">
        <ion-slide>
            <form [formGroup]="slideOneForm">
                <ion-list>
                    <ion-item>
                        <ion-icon name="person" slot="start"></ion-icon>
                        <ion-label position="floating">Nombre</ion-label>
                        <ion-input formControlName="priNombre" type="text"></ion-input>

                    </ion-item>
                    <ion-label *ngIf="slideOneForm.get('priNombre').errors && slideOneForm.get('priNombre').dirty">
                        <p class="validator" ion-text *ngIf="slideOneForm.get('priNombre').hasError('required')">Este campo es requerido
                        </p>

                    </ion-label>
                    <ion-item>
                        <ion-icon name="person" slot="start"></ion-icon>
                        <ion-label position="floating">Apellido</ion-label>
                        <ion-input formControlName="priApellido" type="text"></ion-input>
                    </ion-item>
                    <ion-label *ngIf="slideOneForm.get('priApellido').errors && slideOneForm.get('priApellido').dirty">
                        <p class="validator" ion-text *ngIf="slideOneForm.get('priApellido').hasError('required')">Este campo es requerido
                        </p>

                    </ion-label>
                    <ion-item>
                        <ion-icon name="mail" slot="start"></ion-icon>
                        <ion-label position="floating">Dirección de correo</ion-label>
                        <ion-input formControlName="email" type="text"></ion-input>
                    </ion-item>
                    <ion-label *ngIf="slideOneForm.get('email').errors && slideOneForm.get('email').dirty">
                        <p class="validator" ion-text *ngIf="slideOneForm.get('email').hasError('required')">Este campo es requerido
                        </p>
                        <p class="validator" ion-text *ngIf="slideOneForm.get('email').hasError('email')">El email es inválido</p>
                    </ion-label>
                    <ion-item>
                        <ion-icon name="key" slot="start"></ion-icon>
                        <ion-label position="floating">Contraseña</ion-label>
                        <ion-input formControlName="password" [type]="passwordType" clearOnEdit="false"></ion-input>
                        <ion-icon item-end [name]="passwordIcon" class="passwordIcon" (click)='hideShowPassword()'>
                        </ion-icon>
                    </ion-item>
                    <ion-label *ngIf="slideOneForm.get('password').errors && slideOneForm.get('password').dirty">
                        <p class="validator" ion-text *ngIf="slideOneForm.get('password').hasError('required')">
                            La contraseña es requerido
                        </p>
                    </ion-label>
                    <ion-item>
                        <ion-icon name="finger-print" slot="start"></ion-icon>
                        <ion-label position="floating">identificación</ion-label>
                        <ion-input formControlName="identificacion" type="text">
                        </ion-input>
                    </ion-item>
                    <ion-label *ngIf="slideOneForm.get('identificacion').errors && slideOneForm.get('identificacion').dirty">
                        <p class="validator" ion-text *ngIf="slideOneForm.get('identificacion').hasError('required')">Este campo es requerido
                        </p>
                        <p class="validator" ion-text *ngIf="slideOneForm.get('identificacion').hasError('pattern')">El campo debe contener 10 números</p>

                    </ion-label>
                </ion-list>
                <ion-button class="accept-edit" type="submit" (click)="next()" [disabled]="slideOneForm.invalid">
                    Siguiente</ion-button>
            </form>
        </ion-slide>
        <ion-slide>
            <form [formGroup]="slideTwoForm">
                <ion-list>
                    <ion-item>
                        <ion-icon name="photos" slot="start"></ion-icon>
                        <ion-input type="file" accept="image/*" (change)="changeListener($event)">
                        </ion-input>
                    </ion-item>

                    <ion-item>
                        <ion-icon name="call" slot="start"></ion-icon>
                        <ion-label position="floating">Teléfono</ion-label>
                        <ion-input formControlName="telefonoCelular" type="text">
                        </ion-input>
                    </ion-item>
                    <ion-label *ngIf="slideTwoForm.get('telefonoCelular').errors && slideTwoForm.get('telefonoCelular').dirty">
                        <p class="validator" ion-text *ngIf="slideTwoForm.get('telefonoCelular').hasError('required')">Este campo es requerido
                        </p>
                        <p class="validator" ion-text *ngIf="slideTwoForm.get('telefonoCelular').hasError('pattern')">El campo debe contener 10 números</p>
                    </ion-label>
                    <ion-item>
                        <ion-icon name="pin" slot="start"></ion-icon>
                        <ion-label position="floating">Ciudad</ion-label>
                        <ion-input formControlName="ciudad" type="text"></ion-input>
                    </ion-item>
                    <ion-label *ngIf="slideTwoForm.get('ciudad').errors && slideTwoForm.get('ciudad').dirty">
                        <p class="validator" ion-text *ngIf="slideTwoForm.get('ciudad').hasError('required')">Este campo es requerido
                        </p>
                    </ion-label>
                    <!-- <ion-item>
                        <ion-label position="floating">Fecha Nacimiento</ion-label>
                        <ion-datetime formControlName="fechaNacimiento" type="text" displayFormat="YYYY-MM-DD" placeholder="YYYY-MM-DD">
                        </ion-datetime>
                    </ion-item> -->

                    <ion-radio-group formControlName="sexo">
                        <ion-item>
                            <ion-label>Mujer</ion-label>
                            <ion-radio value="mujer"></ion-radio>
                        </ion-item>

                        <ion-item>
                            <ion-label>Hombre</ion-label>
                            <ion-radio value="hombre"></ion-radio>
                        </ion-item>
                    </ion-radio-group>
                    <ion-label *ngIf="slideTwoForm.get('sexo').errors && slideTwoForm.get('sexo').dirty">
                        <p class="validator" ion-text *ngIf="slideTwoForm.get('sexo').hasError('required')">Este campo es requerido
                        </p>
                    </ion-label>
                    <ion-row>
                        <ion-col size="6">
                            <ion-button class="accept-edit" type="submit" (click)="prev()">Atrás</ion-button>
                        </ion-col>
                        <ion-col size="6">
                            <ion-button class="accept-edit" type="submit" [disabled]="slideTwoForm.invalid" (click)="onSubmit()">Registrar
                            </ion-button>
                        </ion-col>
                    </ion-row>
                </ion-list>
            </form>
        </ion-slide>
    </ion-slides>

    <ion-label class="go-login" (click)="goToLogin()"> Ir a Login </ion-label>

    <!-- <ion-item>
        <ion-grid fixed>
            <ion-row>
                <ion-col size="6">
                    <ion-button color="danger" type="button" expand="full" shape="round" size="large" (click)="takePicture()">
                        <ion-icon name="camera"></ion-icon>
                    </ion-button>
                </ion-col>
                <ion-col size="6">
                    <ion-button color="secondary" type="button" expand="full" shape="round" size="large" (click)="getImage()">
                        <ion-icon name="image"></ion-icon>
                    </ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-item> -->
    <!-- <img [src]="currentImage" *ngIf="currentImage">
    <ion-button (click)="upload()">
        Click me
    </ion-button> -->
</ion-content>