<ion-content>
    <img class="splash" src="assets/imgs/splash.svg">
    <img class="logo" src="assets/imgs/medipharm.svg">
    <p class="text-forgot-pass">RECUPERAR CONTRASEÑA</p>
    <div *ngIf="!passInfoSuccess">
        <div class="container-cancel">
            <p class="sel-text">Ingresa una dirección de correo electrónico válida, se te enviará una nueva contraseña</p>
        </div>
        <div>

        </div>
        <form [formGroup]="resetPassForm" (ngSubmit)="onSubmitRecovery()" class="ion-align-items-stretch">

            <input class="mail" formControlName="email" placeholder="user@gmail.com" [(ngModel)]="email">

            <ion-label *ngIf="resetPassForm.get('email').errors && resetPassForm.get('email').dirty">
                <p class="validator" ion-text *ngIf="resetPassForm.get('email').hasError('required')">Este campo es requerido
                </p>
                <p class="validator" ion-text *ngIf="resetPassForm.get('email').hasError('email')">El email es inválido</p>
            </ion-label>
            <ion-button class="iniciar-sesion" type="submit" [disabled]="resetPassForm.invalid">CONTINUAR</ion-button>

            <ion-label class="go-login" (click)="goToLogin()"> Ir a Login </ion-label>

        </form>
    </div>

    <div *ngIf="passInfoSuccess">
        <div class="container-cancel">
            <p class="sel-text">Su nueva contraseña fué enviada a su correo electrónico..!</p>
        </div>
        <ion-button class="iniciar-sesion" type="submit" (click)="goToLogin()">ENTENDIDO</ion-button>
    </div>
</ion-content>