::ng-deep ion-modal {
    background: rgba(0, 0, 0, 0.5) !important;
    display: block;
    padding: 10% 0% 0% 0% !important;
}

.css-modal .modal-wrapper {
    height: 20%;
    top: 80%;
    position: absolute;
    display: block;
}

.content-body {
    border-radius: 10px;
    overflow: hidden;
    background-color: white;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    bottom: 0px;
    position: absolute;
    width: 99%;
    height: auto;
    left: 0.5%;
    margin-bottom: 0.5%;
}

.icon-desplegable {
    margin-left: auto;
    margin-right: auto;
    width: 1em;
    display: flex;
    color: #7461fc;
}

.label-content {
    width: 374px;
    height: 85px;
    border: solid 1px #f3f4f8;
    background-color: white;
}

.container-cancel {
    padding: 0px 20px;
}

.cancelar-text {
    font-family: OpenSans;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.57;
    letter-spacing: 0.22px;
    color: black;
}

.sel-text {
    font-family: Poppins;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.72;
    letter-spacing: normal;
    text-align: center;
    color: #657785;
}

.container-buttons {
    margin-top: 8%;
    text-align: -webkit-center;
    margin-bottom: 5%;
}

.not-cancel {
    width: 150px;
    height: 50px;
    border-radius: 25px;
    border: solid 2px black;
    background-color: white;
}

.cancel {
    width: 150px;
    height: 50px;
    border-radius: 25px;
    background-image: linear-gradient(106deg, #ffc185, #fd5f54);
    color: white;
}

.sender {
    position: absolute;
    bottom: 15px;
    width: 100%;
    display: flex;
    vertical-align: middle;
    align-content: center;
    align-items: center;
}

.input-text {
    width: 74%;
    height: 30px;
}

.send {
    width: 25%;
    height: 30px;
}

// MEDICAMENTOS
.label-content {
    font-size: smaller;
    font-weight: 700 !important;
    height: auto;
}

.row-content {
    font-size: smaller;
    text-align: left;
    background-color: #f3f4f8;
    margin-bottom: 3%;
    padding: 0px 0px 0px 10px;
}

.cantidad {
    margin-left: -7%;
}

.title-data {
    height: 37px;
    opacity: 0.99;
    background-color: #dfe4e6;
}

.bg-row-med {
    background-color: #f3f4f8;
    //margin-top: 2%;
}

.line {
    background-color: #5e4fcc;
    margin-top: -1%;
}

.col-name {
    font-family: OpenSans;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.57;
    letter-spacing: 0.22px;
    color: black;
}

.col-forma {
    font-family: Poppins;
    font-size: 12.8px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.72;
    letter-spacing: normal;
    color: #657785;
}

.col-ind {
    font-family: Poppins;
    font-size: 12.8px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.72;
    letter-spacing: normal;
    color: black;
}

.col-ind-text {
    font-family: Poppins;
    font-size: 12.8px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.72;
    letter-spacing: normal;
    color: #657785;
}

.medicamentos {
    opacity: 0.99;
    font-family: OpenSans;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.57;
    letter-spacing: 0.22px;
    color: #140e2c;
}

.titulo-receta {
    font-family: Poppins;
    font-size: 18px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: black;
    margin-top: 7%;
    margin-bottom: 2%;
}

.bg-receta {
    height: 90px;
    padding: 1px 0px 10px 3px;
}

.es-med {
    font-family: OpenSans;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.57;
    letter-spacing: 0.22px;
    color: black;
    margin-top: -5%;
}

.cm-med {
    font-family: OpenSans;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.57;
    letter-spacing: 0.22px;
    color: black;
    margin-top: -5%;
}

.cerrar {
    width: 90%;
    height: 50px;
    border-radius: 25px;
    background-image: linear-gradient(99deg, #ffc185, #fd5f54);
    font-family: Poppins;
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1.5px;
    /* text-align: center; */
    color: white;
    margin-left: auto;
    margin-right: auto;
    display: flow-root;
}

.content-div {
    text-align: center;
}