::ng-deep ion-modal {
    background: rgba(0, 0, 0, 0.5) !important;
    display: block;
    padding: 10% 0% 0% 0% !important;
}

.css-modal .modal-wrapper {
    height: 20%;
    top: 80%;
    position: absolute;
    display: block;
}

.content-body {
    border-radius: 10px;
    overflow: hidden;
    background-color: white;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    bottom: 0px;
    position: absolute;
    width: 99%;
    height: auto;
    left: 0.5%;
    margin-bottom: 0.5%;
}

.icon-desplegable {
    margin-left: auto;
    margin-right: auto;
    width: 1em;
    display: flex;
}

.label-content {
    width: 374px;
    height: 85px;
    border: solid 1px #f3f4f8;
    background-color: white;
}

.container-cancel {
    padding: 0px 20px;
}

.cancelar-text {
    font-family: OpenSans;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.57;
    letter-spacing: 0.22px;
    color: black;
}

.sel-text {
    font-family: Poppins;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.72;
    letter-spacing: normal;
    text-align: center;
    color: #657785;
}

.container-buttons {
    margin-top: 8%;
    text-align: -webkit-center;
    margin-bottom: 5%;
}

.not-cancel {
    width: 150px;
    height: 50px;
    border-radius: 25px;
    border: solid 2px black;
    background-color: white;
}

.cancel {
    width: 150px;
    height: 50px;
    border-radius: 25px;
    background-image: linear-gradient(106deg, #ffc185, #fd5f54);
    color: white;
}

.sender {
    position: absolute;
    bottom: 15px;
    width: 100%;
    display: flex;
    vertical-align: middle;
    align-content: center;
    align-items: center;
}

.input-text {
    width: 74%;
    height: 30px;
}

.send {
    width: 25%;
    height: 30px;
}

// MEDICAMENTOS
.label-content {
    font-size: smaller;
    font-weight: 700 !important;
    height: auto;
}

.row-content {
    font-size: smaller;
    text-align: left;
}

.cantidad {
    margin-left: -7%;
}

.titulo-receta {
    font-family: Poppins;
    font-size: 12px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #f3f4f8;
    margin-right: -2%;
    //text-align: end;
    //margin-top: -12%;
}

.bg-receta {
    background-color: #13ccb3;
    height: 96px;
}

.es-med {
    font-family: Poppins;
    font-size: 12px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #f3f4f8;
    margin-right: -2%;
    //text-align: end;
    //margin-top: -2%;
}

.cm-med {
    font-family: Poppins;
    font-size: 12px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #f3f4f8;
    margin-right: -2%;
    //text-align: end;
    //margin-top: 13%;
}

.cerrar {
    width: 127px;
    height: 28px;
    border-radius: 25px;
    border: solid 1px #555a5e;
    background-color: white;
    font-family: Poppins;
    text-align: center;
}

.content-div {
    text-align: center;
}