<ion-header>
    <ion-toolbar>
        <ion-title>
            <ion-icon class="icon-desplegable" name="ios-arrow-down" (click)="closeModal()">
            </ion-icon>
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content *ngIf="prescription">
    <ion-list-header *ngIf="dataReceta" class="bg-receta">
        <ion-grid>
            <ion-row>
                <ion-col size="12">
                    <p class="titulo-receta">Dr. {{dataReceta.datosMed.priNombre}} {{dataReceta.datosMed.priApellido}}
                    </p>
                </ion-col>
                <ion-col size="12">
                    <h3 class="es-med">{{dataReceta.datosMed.especialidad }}</h3>
                </ion-col>
                <ion-col size="12">
                    <h3 class="cm-med">{{dataReceta.datosMed.centroMedico }}</h3>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-list-header>



    <ion-grid *ngIf="dataReceta" class="ion-no-padding">
        <ion-list-header class="title-data ">
            <ion-label class="medicamentos">Medicamentos</ion-label>
        </ion-list-header>

        <ion-row *ngFor="let product of prescription; let i = index" class="row-content">
            <ion-col size="8">
                <ion-label class="col-name">{{product?.idProducto.nombre}}</ion-label><br>
                <ion-label class="col-forma">{{product?.idProducto.formaFarmaceutica}}</ion-label>

            </ion-col>

            <ion-col size="4" class="col-name">
                Cant. {{dataReceta.detalles[i].cantidad}}
            </ion-col>

            <ion-col size="12">
                <hr class="line"><br>
                <ion-label class="col-ind">Indicaciones:</ion-label><br>
                <ion-label class="col-ind-text">{{dataReceta.indicaciones[i].indicaciones}}</ion-label>

            </ion-col>
        </ion-row>

    </ion-grid>


    <!-- <div class="content-div" class="ion-padding">
        <button class="cerrar" (click)="goDetails(dataReceta)">COMPRAR RECETA</button>
    </div> -->
</ion-content>

<ion-footer>
    <ion-toolbar>

        <button *ngIf="dataReceta.estadoReceta == 'nueva'" class="cerrar" (click)="goDetails(dataReceta)">COMPRAR RECETA</button>

    </ion-toolbar>
</ion-footer>