<ion-header>
    <ion-toolbar color="primary">
        <ion-back-button class="title-toolbar" slot="start">
        </ion-back-button>
        <ion-buttons slot="end">
            <ion-button (click)="returnHome()" slot="end">
                <ion-icon class="style-icon-logout" slot="icon-only" name="home"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title class="title-toolbar">Editar Perfil</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">


    <div class="user-photo">
        <ion-avatar>
            <img [src]="data.fotoPerfil || 'assets/imgs/perfil.svg'">
        </ion-avatar>
    </div>

    <ion-input type="file" accept="image/*" (change)="changeListener($event)" placeholder="hola"></ion-input>

    <form [formGroup]="formEditProfile" (ngSubmit)="updateProfilePatient()">
        <ion-list>
            <ion-item>
                <ion-icon name="person" slot="start"></ion-icon>
                <ion-label position="floating">Nombre</ion-label>
                <ion-input formControlName="priNombre" type="text" [(ngModel)]="data.priNombre"></ion-input>
            </ion-item>
            <ion-label *ngIf="formEditProfile.get('priNombre').errors && formEditProfile.get('priNombre').dirty">
                <p class="validator" ion-text *ngIf="formEditProfile.get('priNombre').hasError('required')">Este campo es requerido
                </p>
            </ion-label>
            <ion-item>
                <ion-icon name="person" slot="start"></ion-icon>
                <ion-label position="floating">Apellido</ion-label>
                <ion-input formControlName="priApellido" type="text" [(ngModel)]="data.priApellido"></ion-input>
            </ion-item>
            <ion-label *ngIf="formEditProfile.get('priApellido').errors && formEditProfile.get('priApellido').dirty ">
                <p class="validator" ion-text *ngIf="formEditProfile.get('priApellido').hasError('required')">Este campo es requerido
                </p>

            </ion-label>
            <ion-item>
                <ion-icon name="people" slot="start"></ion-icon>
                <ion-label position="floating">Estado Civil</ion-label>
                <ion-input formControlName="estadoCivil" type="text" [(ngModel)]="data.estadoCivil" required></ion-input>
            </ion-item>
            <ion-label *ngIf="formEditProfile.get('estadoCivil').errors && formEditProfile.get('estadoCivil').dirty || formEditProfile.get('estadoCivil').untouched || formEditProfile.get('estadoCivil').touched">
                <p class="validator" ion-text *ngIf="formEditProfile.get('estadoCivil').hasError('required')">Este campo es requerido
                </p>
            </ion-label>
            <ion-item>
                <ion-icon name="home" slot="start"></ion-icon>
                <ion-label position="floating">Número de Casa</ion-label>
                <ion-input formControlName="numCasa" type="text" [(ngModel)]="data.numCasa" clearInput></ion-input>
            </ion-item>
            <ion-label *ngIf="formEditProfile.get('numCasa').errors && formEditProfile.get('numCasa').dirty || formEditProfile.get('numCasa').untouched || formEditProfile.get('estadoCivil').numCasa">
                <p class="validator" ion-text *ngIf="formEditProfile.get('numCasa').hasError('required')">Este campo es requerido
                </p>
                <p class="validator" ion-text *ngIf="formEditProfile.get('numCasa').hasError('pattern')">Máximo 5 números</p>
            </ion-label>
            <!-- <ion-item>
                <ion-icon name="mail" slot="start"></ion-icon>
                <ion-label position="floating">Email</ion-label>
                <ion-input formControlName="email" type="text" value="{{data.user.email}}"></ion-input>
            </ion-item> -->
            <ion-item>
                <ion-icon name="finger-print" slot="start"></ion-icon>
                <ion-label position="floating">identificación</ion-label>
                <ion-input formControlName="identificacion" type="text" [(ngModel)]="data.identificacion"></ion-input>
            </ion-item>
            <ion-label *ngIf="formEditProfile.get('identificacion').errors && formEditProfile.get('identificacion').dirty">
                <p class="validator" ion-text *ngIf="formEditProfile.get('identificacion').hasError('required')">Este campo es requerido
                </p>
                <p class="validator" ion-text *ngIf="formEditProfile.get('identificacion').hasError('pattern')">Máximo 10 números</p>
            </ion-label>
            <ion-item>
                <ion-icon name="call" slot="start"></ion-icon>
                <ion-label position="floating">Teléfono</ion-label>
                <ion-input formControlName="telefonoCelular" type="text" [(ngModel)]="data.telefonoCelular"></ion-input>
            </ion-item>
            <ion-label *ngIf="formEditProfile.get('telefonoCelular').errors && formEditProfile.get('telefonoCelular').dirty">
                <p class="validator" ion-text *ngIf="formEditProfile.get('telefonoCelular').hasError('required')">Este campo es requerido
                </p>
                <p class="validator" ion-text *ngIf="formEditProfile.get('telefonoCelular').hasError('pattern')">Máximo 10 números</p>
            </ion-label>
            <ion-item>
                <ion-icon name="pin" slot="start"></ion-icon>
                <ion-label position="floating">Ciudad</ion-label>
                <ion-input formControlName="ciudad" type="text" [(ngModel)]="data.ciudad"></ion-input>
            </ion-item>
            <ion-label *ngIf="formEditProfile.get('ciudad').errors && formEditProfile.get('ciudad').dirty">
                <p class="validator" ion-text *ngIf="formEditProfile.get('ciudad').hasError('required')">Este campo es requerido
                </p>

            </ion-label>
        </ion-list>
        <ion-button class="accept-edit" type="submit" [disabled]="formEditProfile.invalid">ACEPTAR</ion-button>

    </form>
</ion-content>