<ion-header>
    <ion-toolbar color="primary">
        <ion-back-button class="title-toolbar" slot="start">
        </ion-back-button>

        <ion-buttons slot="end">
            <ion-button (click)="returnHome()" slot="end">
                <ion-icon class="style-icon-logout" slot="icon-only" name="home"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title class="title-toolbar">Paciente</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content *ngIf="data" class="ion-padding">
    <div class="user-photo">
        <ion-avatar>
            <img [src]="data.fotoPerfil || '/assets/imgs/noavatar.png'">
        </ion-avatar>
    </div>
    <ion-button class="edit-profile" type="submit" (click)="goEditProfile()">EDITAR PERFIL</ion-button>
    <ion-list>
        <ion-item>
            <ion-icon name="person" slot="start"></ion-icon>
            <ion-label>
                <p>Nombres</p>
                <h2>{{data.priNombre}}&nbsp;{{data.segNombre}}</h2>
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-icon name="person" slot="start"></ion-icon>
            <ion-label>
                <p>Apellidos</p>
                <h2>{{data.priApellido}}&nbsp;{{data.segApellido}}</h2>
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-icon name="mail" slot="start"></ion-icon>
            <ion-label>
                <p>Email</p>
                <h2>{{data.user.username}}</h2>
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-icon name="finger-print" slot="start"></ion-icon>
            <ion-label>
                <p>Identificación</p>
                <h2>{{data.identificacion}}</h2>
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-icon name="person" slot="start"></ion-icon>
            <ion-label>
                <p>Edad</p>
                <h2>{{data.edad}}&nbsp;Años</h2>
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-icon name="pin" slot="start"></ion-icon>
            <ion-label>
                <p>Ciudad</p>
                <h2>{{data.ciudad}}</h2>
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-icon name="call" slot="start"></ion-icon>
            <ion-label>
                <p>Celular</p>
                <h2>{{data.telefonoCelular}}</h2>
            </ion-label>
        </ion-item>
    </ion-list>
</ion-content>