<ion-header>
    <ion-toolbar color="primary">
        <ion-back-button class="title-toolbar" slot="start">
        </ion-back-button>
        <ion-buttons slot="end">
            <ion-button (click)="returnHome()" slot="end">
                <ion-icon class="style-icon-logout" slot="icon-only" name="home"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title class="title-toolbar">Paciente</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="style-content" *ngIf="data">
    <section class="profile-picture">
        <img *ngIf="data" [src]="data.fotoPerfil" class="profile-picture__image" alt="Profile Picture">
        <img *ngIf="!data" [src]="'assets/imgs/perfil.svg'" class="profile-picture__image" alt="Profile Picture">
    </section>
    <ion-button class="edit-profile" type="submit" (click)="goEditProfile()">EDITAR PERFIL</ion-button>

    <h4 class="inf-title-pac">Información básica:</h4>
    <div class="container-inf-pac">
        <ion-row>
            <ion-col size="5">
                <label class="style-label">Nombres:</label>
            </ion-col>
            <ion-col size="7">
                <span class="inf-pac">{{data.name}}&nbsp;{{data.email}}</span>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="5">
                <label class="style-label">Email:</label>
            </ion-col>
            <ion-col size="7">
                <span class="inf-pac">{{data.email}}</span>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="5">
                <label class="style-label">Identificación:</label>
            </ion-col>
            <ion-col size="7">
                <span class="inf-pac">{{data.identificacion}}</span>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="5">
                <label class="style-label">Ciudad:</label>
            </ion-col>
            <ion-col size="7">
                <span class="inf-pac">{{data.ciudad}}</span>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="5">
                <label class="style-label">Fecha de Nacimiento:</label>
            </ion-col>
            <ion-col size="7">
                <span class="inf-pac">{{data.fecha}}</span>
            </ion-col>
        </ion-row>
        <ion-row class="ion-justify-content-left">
            <ion-col size="5">
                <label class="style-label">Teléfono:</label>
            </ion-col>
            <ion-col size="7">
                <span class="inf-pac">{{data.telefonoCelular}}</span>
            </ion-col>
        </ion-row>
    </div>

</ion-content>