<ion-header>
    <ion-toolbar color="primary">
        <ion-back-button class="style-button-back" slot="start">
        </ion-back-button>
        <ion-buttons slot="end">
            <ion-button (click)="returnHome()" slot="end">
                <ion-icon class="style-icon-logout" slot="icon-only" name="home"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title class="title-toolbar">MÉDICOS</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div>
        <ion-list>
            <ion-list-header class="content-best-result">
                <ion-label class="best-results">Encuentra tu médico favorito</ion-label>
            </ion-list-header>
            <ion-item>
                <ion-label class="title-params">Ciudad</ion-label>
                <ion-select [(ngModel)]="param" interface="popover" (ngModelChange)="getInfoSelect($event)" okText="Ok" cancelText="Cancelar">
                    <ion-select-option value="" selected>{{dataPaciente?.ciudad}}
                    </ion-select-option>
                    <ion-select-option *ngFor="let item of tags" [value]="item.nombre">{{item.nombre}}
                    </ion-select-option>
                </ion-select>
            </ion-item>
        </ion-list>

        <ion-label class="title-params-es">Especialidades</ion-label>

        <div class="list-card bg-specialities">
            <ion-slides [options]="sliderConfig">
                <ion-slide *ngFor="let card of specialties" class="content-slide">
                    <div class="content-card" [ngClass]="{'content-card-a': activeCard === card}" (click)="updateActiveCard(card)">
                        <ion-card class="i-card" [ngStyle]="{'background': card.color}">
                            <img class="img-esp" [src]='card.logo'>
                        </ion-card>
                        <h3>{{card.nombre}}</h3>
                    </div>
                </ion-slide>
            </ion-slides>
        </div>
    </div>

    <ion-searchbar *ngIf="medics && medics.length !== 0 " placeholder="Buscar, ejemplo: Juan Vargas" [(ngModel)]="searchText">
    </ion-searchbar>

    <div *ngIf="medics">
        <ion-grid>
            <ion-row *ngFor="let medic of medics | filter:searchText" (click)="goToDetails(medic) " class="container-medic">
                <ion-col class="container-image" size="4">
                    <img class="image " *ngIf="medic.fotoPerfil !== null && medic.fotoPerfil[0] !== 'h'" src="{{url}}{{medic.fotoPerfil}}" />
                    <img class="image " *ngIf="medic.fotoPerfil !== null && medic.fotoPerfil[0] === 'h'" src="{{medic.fotoPerfil}}" />
                    <img class="image " *ngIf="!medic.fotoPerfil" src="assets/imgs/doctor.png " />
                </ion-col>
                <ion-col class="container-info-medic " size="7">
                    <ion-row>
                        <ion-col class="name " size="12 ">
                            {{ medic.priNombre }} {{ medic.priApellido }} {{ medic.segApellido }}
                        </ion-col>
                        <ion-col class="fecha " size="12 ">
                            {{ medic.especialidad.nombre }} - {{ medic.ciudad }}
                        </ion-col>
                        <ion-col class="cm" *ngFor="let cm of medic.centroMedico " size="12">
                            <div class="content-cm">
                                {{ cm.nombre }}
                            </div>
                        </ion-col>
                    </ion-row>
                </ion-col>
                <ion-col size="1" class="icon-medic">
                    <ion-icon name="ios-arrow-forward"></ion-icon>
                </ion-col>
            </ion-row>
        </ion-grid>
        <div *ngIf="medics && medics.length === 0 " class="empty-container">
            <img src="assets/icon/no-documents.svg" class="empty-state">
            <h3 class="text-center-no-desp">No hay médicos que mostrar</h3>
        </div>
    </div>
</ion-content>