<ion-header>
    <ion-toolbar color="primary">
        <ion-back-button class="style-button-back" slot="start">
        </ion-back-button>
        <ion-buttons slot="end">
            <ion-button (click)="returnHome()" slot="end">
                <ion-icon class="style-icon-logout" slot="icon-only" name="home"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title class="title-toolbar">Buscar Médicos</ion-title>
    </ion-toolbar>
</ion-header>
<!-- 
    <div *ngIf="!medics">
        <ion-auto-complete [(model)]="selected" [multi]="false" [dataProvider]="provider" [disabled]="false" [options]="options" [removeButtonIcon]="'assets/icons/clear.svg'" [removeButtonColor]="'dark'" (blur)="on('blur', $event)" (autoFocus)="on('autoFocus', $event)"
            (autoBlur)="on('autoBlur', $event)" (focus)="on('focus', $event)" (ionAutoInput)="on('ionAutoInput', $event)" (itemsChange)="on('itemsChange', $event)" (itemsHidden)="on('itemsHidden', $event)" (itemRemoved)="on('itemRemoved', $event)" (itemSelected)="on('itemSelected', $event)"
            (itemsShown)="on('itemsShown', $event)">
        </ion-auto-complete>
    </div> -->
<ion-content class="bg-content">
    <div class="ion-padding" class="bg-content">
        <ion-list>
            <ion-list-header>
                <ion-label class="best-results">Seleccione parámetros para la Búsqueda </ion-label>
            </ion-list-header>
            <ion-item>
                <ion-label>Parámetro</ion-label>
                <ion-select [(ngModel)]="param" (ngModelChange)="getInfoSelect($event)">
                    <ion-select-option value="" selected>Ninguno</ion-select-option>
                    <ion-select-option *ngFor="let item of params" [value]="item.name">{{item.name}}
                    </ion-select-option>

                </ion-select>
            </ion-item>

            <ion-list-header>
                <ion-label class="keyword">Palabras Clave </ion-label>
            </ion-list-header>
            <ion-item>
                <tag-input [(ngModel)]="selected" [placeholder]="'Seleccione otro parámetro'" [secondaryPlaceholder]="'Seleccione un parámetro'" [onlyFromAutocomplete]="true" (onTextChange)="onTextChange($event)" [maxItems]='3'>
                    <tag-input-dropdown [showDropdownIfEmpty]="true" [displayBy]="'nombre'" [identifyBy]="'id'" [autocompleteItems]="tags">
                        <ng-template let-item="item" let-index="index">
                            {{ item.nombre }}
                        </ng-template>
                    </tag-input-dropdown>
                </tag-input>
            </ion-item>
        </ion-list>
        <ion-button class="buscar" *ngIf="selected.length > 0" type="submit" (click)="getMedicsForParams()">BUSCAR
        </ion-button>
    </div>
    <ion-searchbar *ngIf="medics" placeholder="Buscar por nombre Ej: Juan" (ionInput)="onInput($event)">
    </ion-searchbar>
    <div *ngIf="medics && medics.length === 0">
        <div class="center-img">
            <img src="assets/imgs/sin-datos.svg">
            <h2 class="text">No hay Resultados</h2>
        </div>
    </div>

    <div *ngIf="medics">
        <ion-grid class="content-medic ">
            <ion-row *ngFor="let medic of medics" (click)="goToDetails(medic) " class="container-medic">
                <ion-col class="container-image" size="4">
                    <img class="image " *ngIf="medic.fotoPerfil" src="{{medic.fotoPerfil}}" />
                    <img class="image " *ngIf="!medic.fotoPerfil " src="assets/imgs/doctor.png " />
                </ion-col>
                <ion-col class="container-info-medic " size="8">
                    <ion-row>
                        <ion-col class="name " size="12 ">
                            {{ medic.priNombre }} {{ medic.priApellido }}
                        </ion-col>
                        <ion-col class="fecha " size="12 ">
                            {{ medic.especialidad.nombre }}
                            <!-- &#8226; {{ medic.telefono}} -->
                        </ion-col>
                        <ion-col class="cm" *ngFor="let cm of medic.centroMedico " size="12">
                            {{ cm.nombre }}
                        </ion-col>
                    </ion-row>
                </ion-col>
                <ion-col size="1 " class="icon-medic ">
                    <ion-icon name="ios-arrow-forward "></ion-icon>

                </ion-col>
            </ion-row>
        </ion-grid>
    </div>

</ion-content>