<ion-header>
    <ion-toolbar color="primary">
        <ion-back-button class="title-toolbar" slot="start">
        </ion-back-button>
        <ion-buttons slot="end">
            <ion-button (click)="returnHome()" slot="end">
                <ion-icon class="style-icon-logout" slot="icon-only" name="home"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title class="title-toolbar">Recetas</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="content-cites">

    <div *ngIf="dataMedic">
        <ion-grid>
            <ion-row *ngFor="let medic of dataMedic " (click)="goDetails(medic)" class="container-medic">
                <ion-col class="container-image" size="4">
                    <img class="image" src="assets/imgs/receta.png" />
                </ion-col>
                <ion-col class="container-info-medic " size="7">
                    <ion-row>
                        <ion-col class="name " size="12 ">
                            Código: {{ medic.codRece}}
                        </ion-col>
                        <ion-col class="cm " size="12 ">
                            {{ medic.fecha | date : 'yyyy-MM-dd'}}
                        </ion-col>
                        <ion-col class="cm " size="12 ">
                            {{ medic.datosMed.priNombre}} {{ medic.datosMed.priApellido}}
                        </ion-col>
                        <ion-col class="fecha" size="12">
                            {{ medic.datosMed.especialidad}}
                        </ion-col>
                    </ion-row>
                </ion-col>
                <ion-col size="1" class="icon-medic">
                    <ion-icon name="ios-arrow-forward"></ion-icon>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>

    <div *ngIf="dataMedic.length<=0 " class="empty-container ">
        <img src="assets/imgs/no-datos.png" class="empty-state ">
        <h3 class="text-center ">Sin Contenido</h3>
    </div>
</ion-content>