::ng-deep ion-modal {
    background: rgba(0, 0, 0, 0.5) !important;
    display: block;
    padding: 80% 0% 0% 0% !important;
}

// @import "../../theme/variables.scss";
.title-toolbar {
    color: white;
    text-align: center;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
}

// content {
//     background-color: var(tertiary);
// }
.style-icon-logout {
    color: white;
}

.style-button-back {
    color: white;
}

.content-cites {
    --background: linear-gradient(157deg, #ecf0f5, #ccd6e6);
}

.botton-detail {
    width: 127px;
    height: 28px;
    border-radius: 25px;
    border: solid 1px #555a5e;
    font-family: Poppins;
}

.botton-desp {
    width: 127px;
    height: 29px;
    border-radius: 25px;
    background-image: linear-gradient(285deg, #645aff 103%, #a573ff -12%);
    color: white;
    font-family: Poppins;
}

.nav-tabs {
    background-color: #f3f4f8;
    height: 6%;
    border-radius: 14px;
    margin-top: 1%;
    text-align: -webkit-center;
}

.active {
    background: #597bf0;
    color: white !important;
    border-radius: initial;
    height: 40px;
}

.div-menu {
    background: #dfe4e6;
}

.col-center {
    display: grid;
    align-items: center;
}

.content-cites {
    --background: linear-gradient(157deg, #ecf0f5, #ccd6e6);
}

.col-left {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-right: 1px darkgrey;
    align-items: center;
    display: grid;
}

.col-right {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-left: 1px darkgrey;
    align-items: center;
    display: grid;
}

.row-container {
    text-align: left;
    margin: 5% 1%;
    box-shadow: 2px 6px 6px 7px rgba(78, 78, 78, 0.12);
    border-radius: 5px;
    display: flex;
    align-items: center;
    border-left: solid 9px #695cff;
    background-color: #f6f6f6;
    margin-top: -2%;
}

.empty-state {
    align-content: center;
    margin: 5% auto;
    height: 23vh;
    width: 41vw;
}

.text-center {
    text-align: center;
    font-family: Poppins;
    font-size: 13px;
    font-weight: 600;
}

.content-actions-appointment {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    margin-top: -4%;
}

.empty-container {
    display: grid;
    align-items: center;
}

.label-up {
    font-weight: 500;
    text-transform: capitalize;
    font-family: OpenSans;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.57;
    letter-spacing: 0.22px;
    color: black;
}

.color-day {
    color: #8c8c8c;
}

.text-center-citas {
    color: white;
}

.title-toolbar {
    color: white;
    text-align: center;
}

.style-icon-logout {
    color: white;
}

.icon-desplegable {
    margin-left: auto;
    margin-right: auto;
    width: 1em;
    display: flex;
    color: blue;
}

.content-body {
    border-radius: 10px;
    overflow: hidden;
    background-color: white;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    bottom: 0px;
    position: absolute;
}

.close {
    position: absolute;
    width: 8px;
    top: 5px;
    left: 5px;
    font-size: 30px;
    color: #fe0404;
}

.label-icon {
    background-color: blue !important;
    border-block-color: red;
}

.state {
    font-size: 18px;
    font-family: Georgia, "Times New Roman", Times, serif;
    color: black;
    font-weight: 700;
}

.logo {
    margin-left: auto;
    margin-right: auto;
    text-align: center !important;
    height: auto;
    width: 70px;
    display: block;
}

.btn-send {
    border-radius: 20px;
    background-color: rgb(0, 124, 128);
    height: 45px;
    width: 100%;
    text-transform: uppercase;
    color: white;
}

.container {
    align-items: center;
    margin-top: 6%;
}

.btn-cancel {
    border-radius: 20px;
    background-color: rgb(173, 22, 11);
    height: 45px;
    width: 100%;
    text-transform: uppercase;
    color: white;
}

.icon-desplegable {
    margin-left: auto;
    margin-right: auto;
    width: 1em;
    display: flex;
    color: blue;
}

.accept {
    font-family: Poppins;
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: black;
}

ion-content {
    background-color: #fd5f54;
}

.content-data {
    width: 100%;
    height: 50%;
}

.col {
    max-width: 20% !important;
}

.best-results {
    font-family: Poppins;
    font-size: 18px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: black;
}

.label-content {
    width: 100%;
    //height: 77%;
    border-radius: 5px;
    border: solid 2px #7461fc;
    background-color: white;
    //text-align: -webkit-left;
}

.name {
    font-family: OpenSans;
    font-size: 12.8px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.57;
    letter-spacing: 0.22px;
    color: black;
    margin-left: -8%;
}

.codReceta {
    font-family: OpenSans;
    font-size: 12.8px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.57;
    letter-spacing: 0.22px;
    color: black;
    margin-left: 8%;
}

.medicamentos {
    opacity: 0.99;
    font-family: OpenSans;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.57;
    letter-spacing: 0.22px;
    color: #140e2c;
}

.title-data {
    height: 37px;
    opacity: 0.99;
    background-color: #dfe4e6;
    border-top: 2px solid #d9d9d9;
    border-bottom: 2px solid #d9d9d9;
}

.date-hist {
    font-size: 13.8px;
    line-height: 12.8px;
    letter-spacing: 0;
    font-family: Poppins-SemiBold;
    color: #140e2c;
    padding: 21px 8px;
    font-weight: 700;
    margin-bottom: -2%;
    margin-top: -1%;
}

.esp {
    font-family: Poppins;
    font-size: 12.8px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.72;
    letter-spacing: normal;
    margin-top: -4%;
    color: black;
}

.label-state {
    font-family: OpenSans;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.57;
    letter-spacing: 0.22px;
    margin-left: 22%;
    padding: 9px 0px 0px 8px;
    width: 90px;
}

.fecha {
    font-family: Poppins;
    font-size: 12.8px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.72;
    letter-spacing: normal;
    margin-top: -3%;
    color: #657785;
    margin-left: -8%;
}

.bg-card {
    background-color: #f6f6f6;
}

.cm {
    font-family: Poppins;
    font-size: 12.8px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.72;
    letter-spacing: normal;
    margin-top: 2%;
    color: #8c8c8c;
    margin-left: -8%;
}

.time {
    position: absolute;
    right: 8%;
    padding: 2%;
    font-size: 26px;
}

.nav {
    height: 10%;
}

.ok {
    width: 90%;
    height: 50px;
    --border-radius: 25px;
    --background: linear-gradient(104deg, #ffc185, #fd5f54);
    margin-left: auto;
    margin-right: auto;
    display: flex;
    margin-top: 8%;
    color: white;
    font-size: 16px;
}

.container-medic {
    width: 98%;
    border-radius: 5px;
    background-color: #f6f6f6;
    //margin-top: 2%;
    /* border-left: solid 8px #4c69cc; */
    height: 100px;
    margin-top: 2%;
    .line {
        background-color: #695cff;
    }
    .container-info-medic {
        //left: -14%;
    }
    .image {
        width: 4vh;
        height: 4vh;
        border-radius: 25px;
        margin-top: 6%;
        margin-left: 5%;
        /* border: solid 2px white; */
        background: #dfe4e6;
    }
    .medical-center {
        font-family: Poppins;
        font-size: 12.8px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.72;
        letter-spacing: normal;
        color: black;
    }
}

.content-medic {
    overflow-y: scroll;
    width: 102%;
    //height          : 92vh;
    background: linear-gradient(160deg, #ecf0f5 14%, #ccd6e6 91%);
    background-color: white;
    padding: 2px 10px;
}

.bg-sliding {
    background: linear-gradient(160deg, #ecf0f5 14%, #ccd6e6 91%);
}

.content-medic-slide {
    overflow-y: scroll;
    width: 102%;
    //height          : 92vh;
    //background: linear-gradient(160deg, #ecf0f5 14%, #ccd6e6 91%);
    //background-color: white;
    padding: 2px 10px;
}

.icon-medic {
    margin-top: 10%;
    font-size: 20px;
    color: #dfe4e6;
}

//prueba medicos home
.section-hero {
    margin: 4% 0% 0% 3%;
    width: 94%;
}

.img-block {
    width: max-content;
}

.explore-title {
    width: 100%;
    height: 0%;
    font-family: OpenSans;
    font-size: 12px;
    font-weight: bold;
    line-height: 0.57;
    letter-spacing: 0.22px;
    color: black;
    padding-left: 10%;
}

.explore-text {
    width: 100%;
    font-family: Poppins;
    font-size: 12px;
    letter-spacing: normal;
    color: #657785;
    padding-left: 9%;
}

.c-medico {
    width: 100%;
    font-family: Poppins;
    font-size: 12.8px;
    font-weight: normal;
    letter-spacing: normal;
    color: #8c8c8c;
    padding-left: 9%;
    margin-top: -3%;
}

.container {
    height: 200px;
    overflow: hidden;
    position: relative;
    border-radius: 5px;
    background: #f6f6f6;
    margin-top: auto;
    border-bottom: solid 8px #4c69cc;
}

.container:hover {
    animation-delay: 0.2s;
    animation: fadeInScale 0.3s ease-in-out forwards;
    box-shadow: 0 10px 20px 10px rgba(black, 0.2);
}

.container>.crop {
    position: relative;
    left: -100%;
    right: -100%;
    top: -100%;
    bottom: -100%;
    margin: auto;
}

.container .crop {
    width: 100%;
    height: 40%;
    margin-top: 8%;
    object-fit: contain;
}

.button-search i {
    color: #7461fc;
    font-size: 20px;
}

//CSS PARA CALENDARIO
.day-number {
    display: block;
}

.text-center-day {
    color: #657785;
    text-align: center;
}

.today {
    display: block;
    background-color: #7461fc;
    color: white;
    border-radius: 32px;
    font-size: 16px;
    text-align: center;
    padding: 9px;
    margin-top: 4%;
}

.sn {
    text-align: center;
    display: block;
    margin-top: 23%;
    font-size: 18px;
    font-weight: bold;
    color: #4a4a4a;
}

.slide {
    margin-top: 3%;
    background-color: #597bf0;
    color: white;
}

.content-header {
    background: #f6f6f6 !important;
    text-align: center;
    font-weight: 300;
    /* font-size: 13px; */
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.item-divider {
    background-image: linear-gradient(160deg, #ecf0f5 14%, #ccd6e6 120%);
    border: 0px;
}

@media (min-width: 619px) {
    /*  .content-body {
      width       : calc(80% + (24 - 14) * ((100vw - 300px) / (1200 - 300))) !important;
      height      : calc(72% + (24 - 14) * ((100vw - 300px) / (1200 - 300))) !important;
      margin-left : calc(0% + (24 - 14) * ((100vw - 300px) / (1200 - 300))) !important;
      margin-right: calc(10% + (24 - 14) * ((100vw - 300px) / (1200 - 300))) !important;
    } */
    .content-body {
        width: auto;
        height: auto;
    }
    .esp {
        font-size: calc(18px + (24 - 14) * ((100vw - 300px) / (1200 - 300))) !important;
        margin-top: calc(-2% + (24 - 14) * ((100vw - 300px) / (1200 - 300))) !important;
    }
    .cm {
        font-size: calc(18px + (24 - 14) * ((100vw - 300px) / (1200 - 300))) !important;
    }
    .accept {
        font-size: calc(20px + (24 - 14) * ((100vw - 300px) / (1200 - 300))) !important;
    }
}

@media (min-width: 1024px) {
    /*  .content-body {
      width         : calc(62% + (24 - 14) * ((100vw - 300px) / (1200 - 300))) !important;
      height        : calc(76% + (24 - 14) * ((100vw - 300px) / (1200 - 300))) !important;
      margin-left   : calc(0% + (24 - 14) * ((100vw - 300px) / (1200 - 300))) !important;
      //margin-right: calc(10% + (24 - 14) * ((100vw - 300px) / (1200 - 300))) !important;
    } */
    .accept {
        font-size: calc(20px + (24 - 14) * ((100vw - 300px) / (1200 - 300))) !important;
    }
}