<ion-header>
    <ion-toolbar color="primary">
        <ion-back-button class="style-button-back" slot="start">
        </ion-back-button>
        <ion-buttons slot="end">
            <ion-button (click)="returnHome()" slot="end">
                <ion-icon class="style-icon-logout" slot="icon-only" name="home"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title class="title-toolbar">Mis Citas</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="content-cites">
    <ion-row class="nav-tabs">
        <ion-col class="col-left" [ngClass]="{'active': currentTab === 'step1'}" (click)="changeTab('step1')">
            <label class="text-center">Aceptadas</label>
        </ion-col>
        <ion-col class="col-center" [ngClass]="{'active': currentTab === 'step2'}" (click)="changeTab('step2')">
            <label class="text-center">Agendadas</label>
        </ion-col>
        <ion-col class="col-right" [ngClass]="{'active': currentTab === 'step3'}" (click)="changeTab('step3')">
            <label class="text-center">Pospuestas</label>
        </ion-col>
    </ion-row>

    <!-- <ion-slides pager="true" [options]="slideOpts">
        <ion-slide *ngFor="let item of 5">
            <h1>item</h1>
        </ion-slide>
    </ion-slides> -->


    <ion-item-sliding>
        <ion-item class="days-week">
            <ion-row class="content-header">
                <ion-col class="content-col" *ngFor=" let v of daysWeek">
                    <span>
              {{v.label}}
            </span>
                    <span *ngIf="v.day" class="day-number" [className]="v.selected ? 'today' : 'sn'" (click)="changeDay(v.day)">
              {{v.day}}
            </span>
                </ion-col>
                <ion-col size="12">
                    <span class="text-center-day date-label"> {{dateLabel}} </span>
                </ion-col>
            </ion-row>
        </ion-item>
        <ion-item-options side="start">
            <ion-item-option (click)="previousWeek()" class="slide">Anterior</ion-item-option>

        </ion-item-options>
        <ion-item-options side="end">
            <ion-item-option (click)="nextWeek()" class="slide">Siguiente</ion-item-option>
        </ion-item-options>

    </ion-item-sliding>




    <div class="form-group required" *ngIf="currentTab === 'step1'">
        <div class="container">
            <ion-grid *ngIf="accepted">
                <ion-row *ngFor="let val of accepted" class="row-container" (click)="goToDetails(val, 'Agendada', false)">
                    <ion-col size="3" class="state">
                        <img class="image" *ngIf="val.medico.fotoPerfil" [src]="val.medico.fotoPerfil">
                        <img class="image" *ngIf="!val.medico.fotoPerfil" src="assets/imgs/doctor.png">
                    </ion-col>
                    <ion-col size="8" class="state">
                        <ion-row>
                            <ion-col size="12">
                                <span class="label-up">
                  {{val.medico.priNombre}} &nbsp; {{val.medico.priApellido}}
                </span>
                            </ion-col>
                            <ion-col size="12" class="detail">
                                {{val.fecha}} &#8212;&nbsp;{{val.hora}}
                            </ion-col>
                            <ion-col size="12" class="detail">
                                {{val.centroMedico.nombre}}
                            </ion-col>
                        </ion-row>
                    </ion-col>
                    <ion-col size="1">
                        <ion-icon name="ios-arrow-forward"></ion-icon>
                    </ion-col>
                </ion-row>
            </ion-grid>
            <div *ngIf="!accepted || accepted.length == 0" class="empty-container">
                <img src="assets/imgs/sin-datos.svg" class="empty-state">
                <h3 class="text-center">Sin Contenido</h3>
            </div>
        </div>
    </div>

    <div class="form-group required" *ngIf="currentTab === 'step2'">
        <div class="container">
            <ion-grid *ngIf="news">
                <ion-row *ngFor="let cita of news" class="row-container" (click)="goToDetails(cita, 'Pedida', false)">
                    <ion-col size="3" class="state">
                        <img class="image" *ngIf="cita.medico.fotoPerfil" [src]="cita.medico.fotoPerfil">
                        <img class="image" *ngIf="!cita.medico.fotoPerfil" src="assets/imgs/doctor.png">
                    </ion-col>
                    <ion-col size="8" class="state">
                        <ion-row>
                            <ion-col size="12">
                                <span class="label-up">
                  {{cita.medico.priNombre}} &nbsp; {{cita.medico.priApellido}}
                </span>
                            </ion-col>
                            <ion-col size="12" class="detail">
                                {{cita.fecha}} &#8212;&nbsp;{{cita.hora}}
                            </ion-col>
                            <ion-col size="12" class="detail">
                                {{cita.centroMedico.nombre}}
                            </ion-col>
                        </ion-row>
                    </ion-col>
                    <ion-col size="1">
                        <!-- <ion-icon name="close-circle" class="close"></ion-icon> -->
                        <ion-icon name="ios-arrow-forward-outline"></ion-icon>
                    </ion-col>
                </ion-row>
            </ion-grid>
            <div *ngIf="!news || news.length == 0 " class="empty-container">
                <img src="assets/imgs/sin-datos.svg" class="empty-state">
                <h3 class="text-center">Sin Contenido</h3>
            </div>
        </div>
    </div>


    <div class="form-group required" *ngIf="currentTab === 'step3'">
        <div class="container">
            <ion-grid *ngIf="postponed">
                <ion-row *ngFor="let v of postponed" class="row-container">
                    <ion-col size="3" class="state">
                        <img class="image" *ngIf="v.medico.fotoPerfil" [src]="v.medico.fotoPerfil">
                        <img class="image" *ngIf="!v.medico.fotoPerfil" src="assets/imgs/doctor.png">
                    </ion-col>
                    <ion-col size="8" class="state">
                        <ion-row>
                            <ion-col size="12">
                                <span class="label-up">
                                    {{v.medico.priNombre}} &nbsp; {{v.medico.priApellido}}
                </span>
                            </ion-col>
                            <ion-col size="12" class="detail">
                                {{v.fecha}} &#8212;&nbsp;{{v.hora}}
                            </ion-col>
                            <ion-col size="12" class="detail">
                                {{v.centroMedico.nombre}}
                            </ion-col>
                        </ion-row>
                    </ion-col>
                    <ion-col size="1" (click)="goToDetails(v, 'Pospuesta', true)">
                        <ion-icon name="ios-arrow-forward"></ion-icon>
                    </ion-col>
                </ion-row>
            </ion-grid>
            <div *ngIf="!postponed || postponed.length == 0 " class="empty-container">
                <img src="assets/imgs/sin-datos.svg" class="empty-state">
                <h3 class="text-center">Sin Contenido</h3>
            </div>
        </div>
    </div>
</ion-content>