<ion-header>
    <ion-toolbar color="primary">
        <ion-back-button class="style-button-back" slot="start">
        </ion-back-button>
        <ion-buttons slot="end">
            <ion-button (click)="returnHome()" slot="end">
                <ion-icon class="style-icon-logout" slot="icon-only" name="home"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title class="title-toolbar">Mis Citas</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="content-cites">

    <div class="ion-padding">
        <ion-row class="nav-tabs">
            <ion-col class="col-left" [ngClass]="{'active': currentTab === 'step1'}" (click)="changeTab('step1')">
                <label class="text-center">Aceptadas</label>
            </ion-col>
            <ion-col class="col-center" [ngClass]="{'active': currentTab === 'step2'}" (click)="changeTab('step2')">
                <label class="text-center">Canceladas</label>
            </ion-col>
            <ion-col class="col-right" [ngClass]="{'active': currentTab === 'step3'}" (click)="changeTab('step3')">
                <label class="text-center">Pospuestas</label>
            </ion-col>
        </ion-row>
    </div>


    <!-- <ion-slides pager="true" [options]="slideOpts">
        <ion-slide *ngFor="let item of 5">
            <h1>item</h1>
        </ion-slide>
    </ion-slides> -->


    <!-- <ion-item-sliding>
        <ion-item class="days-week">
            <ion-row class="content-header">
                <ion-col class="content-col" *ngFor=" let v of daysWeek">
                    <span>
                        {{v.label}}
                    </span>
                    <span *ngIf="v.day" class="day-number" [className]="v.selected ? 'today' : 'sn'" (click)="changeDay(v.day)">
                        {{v.day}}
                    </span>
                </ion-col>
                <ion-col size="12">
                    <span class="text-center-day date-label"> {{dateLabel}} </span>
                </ion-col>
            </ion-row>
        </ion-item>
        <ion-item-options side="start">
            <ion-item-option (click)="previousWeek()" class="slide">Anterior</ion-item-option>
        </ion-item-options>

        <ion-item-options side="end">
            <ion-item-option (click)="nextWeek()" class="slide">Siguiente</ion-item-option>
        </ion-item-options>

    </ion-item-sliding> -->

    <ion-slides #slider loop (ionSlideNextEnd)="nextWeek()" (ionSlidePrevEnd)="previousWeek()" [options]="slideOpts">
        <ion-slide *ngFor="let n of numbers" class="content-header">
            <ion-row>
                <ion-col *ngFor=" let v of daysWeek">
                    <span>
                            {{v.label}}
                        </span>
                    <span *ngIf="v.day" class="day-number" [className]="v.selected ? 'today' : 'sn'" (click)="changeDay(v.day)">
                            {{v.day}}
                        </span>
                </ion-col>
                <ion-col size="12">
                    <span class="text-center-day date-label"> {{dateLabel}}</span>
                </ion-col>
            </ion-row>

        </ion-slide>
    </ion-slides>

    <div class="form-group required" *ngIf="currentTab === 'step1'">
        <div class="container">
            <ion-grid *ngIf="acceptedMeetings">
                <ion-row *ngFor="let val of acceptedMeetings" class="row-container" (click)="goToDetails(val, 'Aceptada', false)">
                    <ion-col size="3" class="state">
                        <img class="image" *ngIf="val.medico.fotoPerfil" [src]="val.medico.fotoPerfil">
                        <img class="image" *ngIf="!val.medico.fotoPerfil" src="assets/imgs/doctor.png">
                    </ion-col>
                    <ion-col size="8" class="state">
                        <ion-row>
                            <ion-col size="12">
                                <span class="label-up">
                                    Dr. {{val.medico.priNombre}} &nbsp; {{val.medico.priApellido}}
                                </span>
                            </ion-col>
                            <ion-col size="12" class="detail">
                                {{val.fecha}} &#8212;&nbsp;{{val.hora}}
                            </ion-col>
                            <ion-col size="12" class="detail">
                                {{val.medico.especialidad.nombre}}
                            </ion-col>
                            <ion-col size="12" class="detail">
                                {{val.centroMedico.nombre}}
                            </ion-col>
                        </ion-row>
                    </ion-col>
                    <ion-col size="1">
                        <ion-icon name="ios-arrow-forward"></ion-icon>
                    </ion-col>
                </ion-row>
            </ion-grid>
            <div *ngIf="!acceptedMeetings || acceptedMeetings.length == 0" class="empty-container">
                <img src="assets/imgs/no-datos.png" class="empty-state">
                <h3 class="text-center">Sin Contenido</h3>
            </div>
        </div>
    </div>

    <div class="form-group required" *ngIf="currentTab === 'step2'">
        <div class="container">
            <ion-grid *ngIf="newMeetings">
                <ion-row *ngFor="let cita of newMeetings" class="row-container" (click)="goToDetails(cita, 'Cancelada', false)">
                    <ion-col size="3" class="state">
                        <img class="image" *ngIf="cita.medico.fotoPerfil" [src]="cita.medico.fotoPerfil">
                        <img class="image" *ngIf="!cita.medico.fotoPerfil" src="assets/imgs/doctor.png">
                    </ion-col>
                    <ion-col size="8" class="state">
                        <ion-row>
                            <ion-col size="12">
                                <span class="label-up">
                                    Dr. {{cita.medico.priNombre}} &nbsp; {{cita.medico.priApellido}}
                                </span>
                            </ion-col>
                            <ion-col size="12" class="detail">
                                {{cita.fecha}} &#8212;&nbsp;{{cita.hora}}
                            </ion-col>
                            <ion-col size="12" class="detail">
                                {{cita.medico.especialidad.nombre}}
                            </ion-col>
                            <ion-col size="12" class="detail">
                                {{cita.centroMedico.nombre}}
                            </ion-col>
                        </ion-row>
                    </ion-col>
                    <ion-col size="1">
                        <!-- <ion-icon name="close-circle" class="close"></ion-icon> -->
                        <ion-icon name="ios-arrow-forward"></ion-icon>
                    </ion-col>
                </ion-row>
            </ion-grid>
            <div *ngIf="!newMeetings || newMeetings.length == 0 " class="empty-container">
                <img src="assets/imgs/no-datos.png" class="empty-state">
                <h3 class="text-center">Sin Contenido</h3>
            </div>
        </div>
    </div>


    <div class="form-group required" *ngIf="currentTab === 'step3'">
        <div class="container">
            <ion-grid *ngIf="postponedMeetings">
                <ion-row *ngFor="let v of postponedMeetings" class="row-container" (click)="goToDetails(v, 'Pospuesta', true)">
                    <ion-col size="3" class="state">
                        <img class="image" *ngIf="v.medico.fotoPerfil" [src]="v.medico.fotoPerfil">
                        <img class="image" *ngIf="!v.medico.fotoPerfil" src="assets/imgs/doctor.png">
                    </ion-col>
                    <ion-col size="8" class="state">
                        <ion-row>
                            <ion-col size="12">
                                <span class="label-up">
                                    Dr. {{v.medico.priNombre}} &nbsp; {{v.medico.priApellido}}
                                </span>
                            </ion-col>
                            <ion-col size="12" class="detail">
                                {{v.fecha}} &#8212;&nbsp;{{v.hora}}
                            </ion-col>
                            <ion-col size="12" class="detail">
                                {{v.medico.especialidad.nombre}}
                            </ion-col>
                            <ion-col size="12" class="detail">
                                {{v.centroMedico.nombre}}
                            </ion-col>
                        </ion-row>
                    </ion-col>
                    <ion-col size="1">
                        <ion-icon name="ios-arrow-forward"></ion-icon>
                    </ion-col>
                </ion-row>
            </ion-grid>
            <div *ngIf="!postponedMeetings || postponedMeetings.length == 0 " class="empty-container">
                <img src="assets/imgs/no-datos.png" class="empty-state">
                <h3 class="text-center">Sin Contenido</h3>
            </div>
        </div>
    </div>
</ion-content>

<!-- if (Object.keys(this.dataService.dataDelete).length !== 0) {
    this.dataDelete = this.dataService.dataDelete;
    console.log(this.dataDelete, 'data para delete posponed');

    const idDelete = this.dataDelete.data.data.id
    console.log(idDelete, 'ide para eliminar');
    this.deleteData(idDelete);
    this.dataService.dataDelete = {}
  } else if (Object.keys(this.dataService.dataCancelPosponed).length !== 0) {
    console.log(this.dataService.dataCancelPosponed, 'id canceled');

    this.dataDelete = this.dataService.dataCancelPosponed;
    console.log(this.dataDelete, 'data que no llega');
    const idDelete = this.dataDelete.data.data.id
    console.log(idDelete, 'ide cancel posponed para eliminar');
    this.deleteDataPosponed(idDelete);
    this.dataService.dataCancelPosponed = {}
  } else if (Object.keys(this.dataService.idAcceptPosponed).length !== 0) {
    console.log(this.dataService.idAcceptPosponed, 'id Accepted');

    this.dataDelete = this.dataService.idAcceptPosponed;
    const idDelete = this.dataDelete.data.data
    console.log(idDelete, 'ide de posponed para eliminar');
    this.deleteDataPosponed(idDelete);
    this.dataService.idAcceptPosponed = {}
  } -->