.title-toolbar {
    color: white;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
}

.style-icon-logout {
    color: white;
}

.pagar-orden {
    // width: 90%;
    // height: 50px;
    // border-radius: 25px;
    // background-image: linear-gradient(99deg, #ffc185, #fd5f54);
    // font-family: Poppins;
    // font-size: 14px;
    // font-weight: 600;
    // font-stretch: normal;
    // font-style: normal;
    // line-height: normal;
    // letter-spacing: 1.5px;
    // color: white;
    // margin-left: auto;
    // margin-right: auto;
    // display: flow-root;
    // margin-bottom: 5%;
    // margin-top: 5%;
    width: 90%;
    height: 50px;
    --border-radius: 25px;
    --background: linear-gradient(104deg, #ffc185, #fd5f54);
    margin-left: auto;
    margin-right: auto;
    display: flex;
    margin-top: 4%;
    color: white;
    font-size: 16px;
    margin-bottom: 6%;
}

.container-subtotal {
    margin-top: 2%;
}

.name-prod {
    font-family: OpenSans;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.57;
    letter-spacing: 0.22px;
    color: #140e2c;
}

.bg-content {
    --background: linear-gradient(157deg, #ecf0f5, #ccd6e6);
}

.container-prod {
    background-color: #f6f6f6;
    border-radius: 2px;
    padding: 11px 0px 0px 20px;
    margin-left: 3%;
    height: 100%;
    margin-bottom: 5%;
}

.eliminar {
    margin-top: 31%;
    color: #ff4141;
    font-size: 23px;
    margin-left: -4%;
}

.form-prod {
    font-family: Poppins;
    font-size: 12.8px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.72;
    letter-spacing: normal;
    color: #728391;
    margin-top: 4%;
}

.content-medic {
    overflow-y: scroll;
    width: 102%;
    //height          : 92vh;
    background: linear-gradient(160deg, #ecf0f5 14%, #ccd6e6 91%);
    background-color: white;
}

.content-cites {
    --background: linear-gradient(157deg, #ecf0f5, #ccd6e6);
}

.content-card {
    width: 100%;
}

.content-grid {
    text-align: center;
}

.container-col {
    padding: 0% 0% 0% 0%;
}

.container-image {
    padding: 20px;
}

.label-content {
    font-size: smaller;
    font-weight: 700 !important;
}

.row-content {
    font-size: smaller;
}

.price {
    font-size: 100%;
    width: 100%;
    height: 70%;
}

ion-card-title {
    font-size: 16px;
    font-weight: 600;
}

.fw700 {
    font-weight: 600;
}

.container-medic {
    width: 98%;
    border-radius: 7px;
    background-color: #f6f6f6;
    margin-top: 2%;
    border-left: solid 8px #4c69cc;
    height: auto;
    .line {
        background-color: #695cff;
    }
    .container-info-medic {
        left: -14%;
    }
    .image {
        width: 7vh;
        height: 7vh;
        border-radius: 4vh;
        margin-top: -14%;
        margin-left: -9%;
    }
    .medical-center {
        font-family: Poppins;
        font-size: 12.8px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.72;
        letter-spacing: normal;
        color: black;
    }
}

.name {
    font-family: Poppins;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 0.22px;
    color: black;
}

.fecha {
    font-family: Poppins;
    font-size: 11px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.29;
    letter-spacing: normal;
    color: #657785;
    padding: 3% 0% 0% 10%;
}

.cm {
    font-family: Poppins;
    font-size: 12.8px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.72;
    letter-spacing: normal;
    color: #8c8c8c;
}

.icon-medic {
    margin-top: 7%;
}

.time {
    position: absolute;
    right: 8%;
    padding: 2%;
    font-size: 20px;
}

.empty-state {
    align-content: center;
    margin: 5% auto;
    height: 23vh;
    width: 41vw;
}

.text-center {
    text-align: center;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 600;
}

.empty-container {
    display: grid;
    align-items: center;
}

//PRODUCTOS
.item-style {
    //border: solid 1px #dfe4e6;
    margin-top: 2%;
    background-color: #f6f6f6;
}

ion-list-header {
    margin-bottom: -2%;
    border: solid 1px #dfe4e6;
}

.subtotal {
    font-family: Poppins;
    font-size: 12.8px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.72;
    letter-spacing: normal;
    color: #657785;
    margin-left: 55%;
}

.bg-footer {
    background-color: #f6f6f6;
}

.line {
    background-color: #e5e5e5;
}

.total-pago {
    font-family: Poppins;
    font-size: 18px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: black;
    margin-top: -3%;
    margin-left: 51%;
}

.line-m {
    background-color: #e7e7e7;
    margin-top: 6%;
    width: 100%;
    margin-left: -1%;
}

.comprar {
    width: 100px;
    border-radius: 5px;
    background-color: dimgrey;
    color: white;
    margin-left: -24%;
    margin-top: 12%;
}

.cantidad {
    width: 133px;
    height: 22px;
    border-radius: 5px;
    border: solid 2px black;
    background-color: white;
    color: maroon;
    font-weight: 700;
}

.price {
    width: 101px;
    height: 22px;
    font-family: Poppins;
    font-size: 10px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.72;
    letter-spacing: normal;
    color: #657785;
}

.precio-venta {
    width: 268px;
    height: 22px;
    font-family: OpenSans;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.57;
    letter-spacing: 0.22px;
    color: maroon;
    margin-bottom: -14%;
}

.info-total {
    font-family: Poppins;
    font-size: 12.8px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.72;
    letter-spacing: normal;
    color: #140e3d;
    width: auto;
    margin-top: 2%;
    margin-bottom: -2%;
}

.val-total {
    font-family: Poppins;
    font-size: 12.8px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.72;
    letter-spacing: normal;
    color: black;
    margin-left: -40%;
    margin-top: 2%;
    margin-bottom: -3%;
}

.content-price {
    margin-top: -10%;
    //margin-left: -1%;
}

.cont-add {
    color: #7461fc;
    font-size: 25px;
    margin-left: -40%;
    margin-top: 25%;
    background-color: #d4cfff;
    border-radius: 25px;
}

.cont-substract {
    color: #7461fc;
    font-size: 25px;
    margin-left: -40%;
    margin-top: 20%;
    background-color: #d4cfff;
    border-radius: 25px;
}

.select-label {
    font-size: smaller;
}

.row-price {
    margin-top: -26%;
    margin-bottom: -8%;
}

.row-remaining {
    margin-top: -1%;
}

.row-cantidad {
    margin-left: -7%;
    margin-top: -5%;
}

.style-input {
    border: 0px;
    width: 88%;
    margin-top: 20%;
    margin-left: -30%;
    background-color: #f6f6f6;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.57;
    letter-spacing: 0.22px;
    text-align: center;
    color: #140e3d;
}

.cart-btn {
    position: relative;
}

.cart-badge {
    position: absolute;
    top: 6px;
    right: 3px;
    background: darkred;
    color: white;
    font-size: 12px;
    border-radius: 25px;
    border: white solid 1px;
    height: 19px;
}

.style-icon-cart {
    color: white;
}

// .line-input {
//     margin-bottom: 0!important;
//     ion-item {
//         --border-color: transparent!important;
//         --highlight-height: 0;
//         border: 1px solid #dedede;
//         border-radius: 4px;
//         &.item-has-focus {
//             border: 1px solid var(--ion-color-primary);
//         }
//         ion-label {
//             color: #807e7e !important;
//             font-weight: 200;
//             font-size: 1rem !important;
//         }
//     }
// }