.title-toolbar {
    color: white;
    text-align: center;
}

.style-icon-logout {
    color: white;
}

.content-medic {
    overflow-y: scroll;
    width: 102%;
    //height          : 92vh;
    background: linear-gradient(160deg, #ecf0f5 14%, #ccd6e6 91%);
    background-color: white;
}

.content-cites {
    --background: linear-gradient(157deg, #ecf0f5, #ccd6e6);
}

.content-card {
    width: 100%;
}

.content-grid {
    text-align: center;
}

.container-col {
    padding: 0% 0% 0% 0%;
}

.container-image {
    padding: 20px;
}

.label-content {
    font-size: smaller;
    font-weight: 700 !important;
}

.row-content {
    font-size: smaller;
}

.price {
    font-size: 100%;
    width: 100%;
    height: 70%;
}

ion-card-title {
    font-size: 16px;
    font-weight: 600;
}

.fw700 {
    font-weight: 600;
}

.container-medic {
    width: 98%;
    border-radius: 7px;
    background-color: #f6f6f6;
    margin-top: 2%;
    border-left: solid 8px #4c69cc;
    height: auto;
    .line {
        background-color: #695cff;
    }
    .container-info-medic {
        left: -14%;
    }
    .image {
        width: 7vh;
        height: 7vh;
        border-radius: 4vh;
        margin-top: -14%;
        margin-left: -9%;
    }
    .medical-center {
        font-family: Poppins;
        font-size: 12.8px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.72;
        letter-spacing: normal;
        color: black;
    }
}

.name {
    font-family: Poppins;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 0.22px;
    color: black;
}

.fecha {
    font-family: Poppins;
    font-size: 11px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.29;
    letter-spacing: normal;
    color: #657785;
    padding: 3% 0% 0% 10%;
}

.cm {
    font-family: Poppins;
    font-size: 12.8px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.72;
    letter-spacing: normal;
    color: #8c8c8c;
}

.icon-medic {
    margin-top: 7%;
}

.time {
    position: absolute;
    right: 8%;
    padding: 2%;
    font-size: 20px;
}

.empty-state {
    align-content: center;
    margin: 5% auto;
    height: 23vh;
    width: 41vw;
}

.text-center {
    text-align: center;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 600;
}

.empty-container {
    display: grid;
    align-items: center;
}

//PRODUCTOS
.item-style {
    border: solid 1px #dfe4e6;
    margin-top: 2%;
}

ion-list-header {
    margin-bottom: -2%;
    border: solid 1px #dfe4e6;
}

.comprar {
    width: 80px;
    height: 30px;
    border-radius: 5px;
    border: solid 2px #ffb500;
    background-color: rgba(255, 181, 0, 0.5);
}

.price {
    width: 101px;
    height: 22px;
    font-family: Poppins;
    font-size: 10px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.72;
    letter-spacing: normal;
    color: #657785;
}

.precio-venta {
    width: 268px;
    height: 22px;
    font-family: OpenSans;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.57;
    letter-spacing: 0.22px;
    color: maroon;
    margin-bottom: -14%;
}

.select-label {
    font-size: smaller;
}

.row-price {
    margin-left: -2%;
}

.row-cantidad {
    margin-left: -7%;
    margin-top: -5%;
}

// .line-input {
//     margin-bottom: 0!important;
//     ion-item {
//         --border-color: transparent!important;
//         --highlight-height: 0;
//         border: 1px solid #dedede;
//         border-radius: 4px;
//         &.item-has-focus {
//             border: 1px solid var(--ion-color-primary);
//         }
//         ion-label {
//             color: #807e7e !important;
//             font-weight: 200;
//             font-size: 1rem !important;
//         }
//     }
// }