<ion-header>
    <ion-toolbar color="primary">
        <ion-back-button class="title-toolbar" slot="start">
        </ion-back-button>
        <ion-buttons slot="end">
            <!-- <ion-button (click)="returnHome()" slot="end">
                <ion-icon class="style-icon-logout" slot="icon-only" name="home"></ion-icon>
            </ion-button> -->
            <ion-button (click)="goCart()" slot="end" class="cart-btn">
                <!-- <ion-icon class="style-icon-cart" slot="icon-only" name="cart"></ion-icon>
                <ion-badge *ngIf="count > 0" class="cart-badge">{{count}}</ion-badge> -->
            </ion-button>
        </ion-buttons>
        <ion-title class="title-toolbar">MI CARRITO</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content *ngIf="dataForView" class="ion-padding bg-content">
    <ion-row *ngFor="let producto of dataForView; let i = index">
        <ion-col size="1" class="eliminar" (click)="deleteItem(producto._id)">
            X
        </ion-col>
        <ion-col size="11">
            <div class="container-prod">
                <ion-label>
                    <ion-row>
                        <ion-col size="10">
                            <ion-label class="name-prod">{{producto.product | uppercase}}</ion-label>
                            <h3 class="form-prod">{{producto.pharmacyForm }} - {{producto.concentration }}</h3>
                            <h3 class="form-prod">{{producto.presentation }}</h3>
                        </ion-col>
                        <ion-col size="2">
                            <ion-col size="12">
                                <ion-col size="12">
                                    <ion-icon name="add" class="cont-add" (click)="add(i)"></ion-icon>
                                </ion-col>
                                <ion-col size="12">
                                    <ion-input class="style-input" type="number" on [(ngModel)]="producto.totalDispatch" (change)="calculateTotal($event, i)" (keyup)="calculateTotal($event, i)">
                                    </ion-input>
                                </ion-col>
                                <ion-col size="12">
                                    <ion-icon name="remove" class="cont-substract" (click)="subtract(i)"></ion-icon>
                                </ion-col>
                            </ion-col>
                        </ion-col>
                    </ion-row>
                    <ion-row class="row-price">
                        <h3 class="form-prod"> Cantidad recetada: {{producto.totalPrescription }}</h3>
                    </ion-row>
                    <hr class="line-m"><br>
                    <div class="content-price">
                        <ion-row>
                            <ion-col size="6">
                                <h3 class="info-total"> Precio Unit:</h3>
                            </ion-col>

                            <ion-col size="6">
                                <p class="val-total">${{ producto.price }}</p>
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col size="6">
                                <h3 class="info-total"> Total:</h3>
                            </ion-col>
                            <ion-col size="6">
                                <p class="val-total">${{ producto.totalDispatch * producto.price | number: '1.2-4'}}</p>
                            </ion-col>
                        </ion-row>
                    </div>
                </ion-label>
            </div>

        </ion-col>

    </ion-row>
</ion-content>
<ion-footer class="bg-footer">
    <div class="container-subtotal">
        <label class="subtotal">Subtotal:&nbsp; &nbsp; {{ total | currency }}</label><br>
        <label class="subtotal">IVA 12%:&nbsp; &nbsp; {{ this.valIva | currency}} </label>
    </div>

    <hr class="line"><br>
    <h4 class="total-pago">
        TOTAL:&nbsp; {{ totalPay | currency }}
    </h4>
    <ion-button class="pagar-orden" (click)="pay()" [disabled]="totalPay == 0 || totalPay == undefined">PAGAR ORDEN
    </ion-button>
    <!-- <button class="pagar-orden" (click)="buyTotalPrescription()">COMPRAR TODO</button> -->
</ion-footer>