body {
    margin: 0;
    padding: 0;
}

.noScroll {
    overflow: hidden;
    height: 200px;
}

p.validator {
    color: red;
    font-size: 12px;
    text-align: left;
    //margin-left: -30%;
    // padding: -3px 0px -12px 1px;
    // margin-top: auto;
    // margin-bottom: auto;
}

.subir {
    padding: 10px 10px;
    background: lightcoral;
    color: #fff;
    border: 0px solid #fff;
    margin-left: auto;
    margin-right: auto;
    display: table;
    border-radius: 6px;
    width: 100%;
    text-align: center;
    margin-top: 2%;
    height: 40px;
}

.subir:hover {
    color: #fff;
    background: #f7cb15;
    margin-top: 3%;
}

.radio-btn {
    background-color: rgb(233, 233, 233);
}

.go-login {
    text-align: center;
    margin-top: 5px;
    display: block;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.2px;
    color: #3880ff; //map-get($colors, tertiary);
}

.politicas {
    text-align: center;
    margin-top: 5px;
    display: block;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.2px;
}

.contain-register {
    display: flex;
    text-align: center !important;
    margin-top: 14%;
}

.style-row {
    //position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
}

.title-toolbar {
    color: white;
    text-align: center;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
}

.icon-pass {
    font-size: 3rem !important;
    margin: 0 auto !important;
    right: -14%;
}

.accept-edit {
    width: 90%;
    height: 50px;
    --border-radius: 25px;
    --background: linear-gradient(104deg, #ffc185, #fd5f54);
    margin-left: auto;
    margin-right: auto;
    display: flex;
    margin-top: 5%;
    color: white;
    font-size: 16px;
    margin-bottom: 5%;
}

.div-slide {
    width: 100%;
    height: 85px;
    background-color: #f6f6f6;
    margin-top: 0%;
}

.div-button-footer {
    width: 100%;
    height: 85px;
    background-color: #f6f6f6;
    position: absolute;
    bottom: 0;
}

.title-slide {
    font-family: Poppins;
    font-size: 12.8px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.18px;
    text-align: center;
    color: #597bf0;
    padding: 45px 0px 0px 26px;
}

.cart-badge {
    position: absolute;
    background: white;
    color: #4c69cc;
    font-size: 12px;
    border-radius: 25px;
    border: #4c69cc solid 1px;
    height: 4vh;
    margin-top: -27%;
    width: 4vh;
    margin-left: 28%;
}

.row-slide {
    text-align: center;
}

.line {
    background-color: #5e4fcc;
    margin-top: -1%;
    width: 10%;
}

.bg-section {
    --background: linear-gradient(160deg, #ecf0f5 14%, #ccd6e6 91%);
}

ion-content {
    --background: #ecf0f5;
}

.bg-form {
    background: #ecf0f5;
}

.item-pass {
    background-color: rgb(233, 233, 233);
}

.row-data-fac {
    margin-top: 3%;
}

.row-data-dir {
    margin-top: 9%;
}

.input-pass {
    height: initial;
    background: transparent;
    border: 0px solid;
    margin-top: 5%;
}

.title-metodo {
    height: 37px;
    opacity: 0.99;
    background-color: #dfe4e6;
    //margin-top: -4%;
}

.title-tarjeta {
    height: 37px;
    opacity: 0.99;
    background-color: #dfe4e6;
    //margin-top: 5%;
}

.content-data {
    width: 94%;
    height: 203px;
    border-radius: 5px;
    background-color: white;
    margin-bottom: 5%;
    margin-left: 3%;
    padding: 13px 0px 0px 0px;
}

.content-consejo {
    width: 94%;
    height: 200px;
    border-radius: 5px;
    background-color: white;
    margin-bottom: 5%;
    margin-left: 3%;
    padding: 1px 2px 3px 15px;
    margin-top: 3%;
    .text-consejo {
        font-family: Poppins;
        font-size: 12.8px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.72;
        letter-spacing: normal;
        color: var(--black);
    }
}

.input-col6 {
    height: 50px;
    border-radius: 5px;
    border: solid 1px #dfe4e6;
    background-color: #f6f6f6;
    text-align: initial;
    margin-left: 9%;
    width: 83%;
    color: #8c8c8c;
}

.medicamentos {
    opacity: 0.99;
    font-family: OpenSans;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.57;
    letter-spacing: 0.22px;
    color: #140e2c;
}

.list-card {
    height: 87px;
    margin-top: 4%;
}

.option {
    height: 164px;
}

.scroll-content {
    width: 100%;
    height: 100%;
    background-color: #f6f6f6;
}

.logo {
    width: 60%;
    position: absolute;
    top: 2%;
    left: 19%;
}

.splash {
    width: 100%;
}

.new-register {
    font-family: Poppins;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    margin-top: -37%;
}

.slide-style {
    margin-top: 14%;
}

.user {
    width: 90%;
    height: 55px;
    font-size: 17px;
    border-radius: 3px;
    background-color: rgb(233, 233, 233);
    margin-top: 20%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.name {
    width: 90%;
    font-size: 17px;
    border-radius: 3px;
    font-family: Poppins;
    background-color: #e9e9e9;
    margin-top: 2%;
    font-weight: 800;
    margin-left: auto;
    margin-right: auto;
}

.container-input {
    margin-top: 20%;
}

.best-results {
    font-family: Poppins;
    font-size: 18px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: darkgreen;
    margin-top: 5%;
}

.mail {
    height: 50px;
    border-radius: 5px;
    border: solid 1px #dfe4e6;
    background-color: #f6f6f6;
    text-align: initial;
    margin-left: 4%;
    width: 100%;
    color: #8c8c8c;
}

.input-tarjeta {
    height: 50px;
    border-radius: 5px;
    border: solid 1px #dfe4e6;
    background-color: #f6f6f6;
    text-align: initial;
    margin-left: 4%;
    width: 92%;
    color: #8c8c8c;
}

.password {
    width: 100%;
    height: 40px;
    font-size: 17px;
    border-radius: 3px;
    background-color: rgb(233, 233, 233);
    margin-top: 5%;
    font-weight: 500;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

form {
    width: 93%;
}

.passwordIcon {
    top: 10px !important;
    right: 30%;
    position: absolute;
    font-size: larger;
}

.pass {
    width: 90%;
    height: 55px;
    font-size: 17px;
    border-radius: 3px;
    background-color: rgb(233, 233, 233);
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.val-input {
    width: 90%;
    height: 55px;
    font-size: 17px;
    border-radius: 3px;
    background-color: rgb(233, 233, 233);
    margin-top: 8%;
    font-weight: 500;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.container-form {
    margin-top: 20%;
}

.val-message {
    background-color: white;
    border: 0;
}

.input-form {
    border: 0;
    background-color: rgb(233, 233, 233);
}

.register {
    width: 90%;
    height: 50px;
    --border-radius: 25px;
    --background: linear-gradient(99deg, #ffc185, #fd5f54);
    margin-left: auto;
    margin-right: auto;
    display: flex;
    margin-top: 10%;
    color: white;
}

.login {
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.2px;
    color: #597bf0;
    display: inline-block;
    position: absolute;
    bottom: 5px;
    right: 10px;
    left: 10px;
    text-align: center;
    margin-bottom: -38%;
    margin-top: 12%;
}

.section-hero {
    margin: -3% 0% 0% 3%;
    width: 94%;
}

.container {
    height: 152px;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
    background: #f6f6f6;
    margin-top: 10%;
    border-radius: 20px;
    //border: solid 2px #597bf0;
}

.metodo-pago {
    height: 123px;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
    background: white;
    margin-top: 10%;
    border-radius: 20px;
    //border: solid 2px #597bf0;
    .select-button {
        width: 24.8px;
        height: 26.8px;
        color: #9db0b8;
        position: absolute;
        right: 8%;
        top: 8%;
    }
}

.metodo-pago-a {
    height: 123px;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
    background: white;
    margin-top: 10%;
    border-radius: 20px;
    border: solid 2px #597bf0;
    .select-button {
        width: 24.8px;
        height: 26.8px;
        color: #597bf0;
        position: absolute;
        right: 8%;
        top: 8%;
    }
}

.explore-title {
    font-family: OpenSans;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.57;
    letter-spacing: 0.22px;
    color: #140e2c;
    padding: 26px 0px 0px 10px;
    text-align: initial;
}

.explore-text {
    font-family: Poppins;
    font-size: 12.8px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.72;
    letter-spacing: normal;
    color: #728391;
    text-align: initial;
    padding: 10px;
    margin-top: -13%;
}

ion-card-content {
    border-radius: 20px;
    border: solid 2px #597bf0;
    background-color: white;
}

.content-card {
    width: 147px;
    height: 68px;
    border-radius: 20px;
    //border: solid 2px #597bf0;
    background-color: white;
    .select-button {
        width: 24.8px;
        height: 26.8px;
        color: #9db0b8;
        position: absolute;
        right: 13%;
        top: 8%;
    }
}

h3 {
    text-align: center;
}

.content-card-a {
    width: 147px;
    height: 68px;
    border-radius: 20px;
    border: solid 2px #597bf0;
    background-color: white;
    .select-button {
        width: 24.8px;
        height: 26.8px;
        color: #597bf0;
        position: absolute;
        right: 13%;
        top: 8%;
    }
}

.horario {
    height: 40px;
    border-radius: 23px;
    background-color: #f6f6f6;
    margin-left: 9%;
    width: 156px;
    margin-top: 8%;
    .label {
        width: 88px;
        height: 22px;
        font-family: OpenSans;
        font-size: 14px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.57;
        letter-spacing: 0.22px;
        color: black;
        padding: 8px 0px 2px 8px;
        margin-top: 0%;
    }
    .select-button {
        width: 24.8px;
        height: 26.8px;
        color: #9db0b8;
        position: absolute;
        right: 2%;
        top: 36%;
    }
}

.horario-a {
    height: 40px;
    border-radius: 23px;
    border: solid 2px #597bf0;
    background-color: white;
    margin-left: 9%;
    width: 156px;
    margin-top: 8%;
    .label {
        width: 88px;
        height: 22px;
        font-family: OpenSans;
        font-size: 14px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.57;
        letter-spacing: 0.22px;
        color: black;
        padding: 8px 0px 2px 8px;
        margin-top: 0%;
    }
    .select-button {
        width: 24.8px;
        height: 26.8px;
        color: #597bf0;
        position: absolute;
        right: 2%;
        top: 36%;
    }
}

.row-horario {
    margin-top: -2%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.imgs-card {
    width: 56px;
    height: 34px;
    margin-top: 10%;
}

.title-entrega {
    font-size: 17px;
    letter-spacing: 0;
    color: black;
    font-family: Poppins;
    padding: 0px 24px;
    margin-top: 3%;
    font-weight: bold;
}

$number-of-steps: 3;
$line-width: 2px;
$bullet-size: 2em;
$background-color: #f6f6f6;
$foreground-color: #6a8bf8;
$active-background-color: #4c69cc;
$active-foreground-color: #ffffff;
ol {
    background-color: #f6f6f6;
    position: relative;
    //overflow: hidden;
    counter-reset: wizard;
    width: 100%;
    padding-left: 5px;
    margin-top: 1%;
    height: 82px;
}

ol li {
    list-style-type: none;
}

li {
    position: relative;
    float: left;
    width: 100% / $number-of-steps;
    text-align: center;
    color: $active-background-color;
    height: 79px;
    font-family: Poppins;
    font-size: 12.8px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.18px;
    margin-top: 3%;
}

.current~li {
    color: $foreground-color;
}

li:before {
    counter-increment: wizard;
    content: counter(wizard);
    display: block;
    color: $active-foreground-color;
    background-color: $active-background-color;
    border: $line-width solid $active-background-color;
    text-align: center;
    width: $bullet-size;
    height: $bullet-size;
    line-height: $bullet-size;
    border-radius: $bullet-size;
    position: relative;
    left: 50%;
    margin-bottom: $bullet-size / 2;
    margin-left: $bullet-size * -0.5;
    z-index: 1;
    .current~& {
        background-color: $background-color;
        color: $foreground-color;
        border-color: $foreground-color;
    }
}

li+li {
    &:after {
        content: "";
        display: block;
        width: 100%;
        background-color: $active-background-color;
        height: $line-width;
        position: absolute;
        left: -50%;
        top: $bullet-size / 2;
        z-index: 0;
    }
}

.current~li:after {
    background-color: $foreground-color;
}

@media (min-width: 619px) {
    //font-size: calc(18px + (24 - 14) * ((100vw - 300px) / (1200 - 300))) !important;
    .name {
        margin-top: calc(1% + (24 - 14) * ((100vw - 300px) / (1200 - 300))) !important;
    }
    .container-input {
        margin-top: calc(22% + (24 - 14) * ((100vw - 300px) / (1200 - 300))) !important;
    }
    .go-login {
        font-size: calc(25px + (24 - 14) * ((100vw - 300px) / (1200 - 300))) !important;
    }
    .register {
        font-size: calc(20px + (24 - 14) * ((100vw - 300px) / (1200 - 300))) !important;
        //width    : calc(60% + (24 - 14) * ((100vw - 300px) / (1200 - 300))) !important;
    }
    .new-register {
        font-size: calc(18px + (24 - 14) * ((100vw - 300px) / (1200 - 300))) !important;
    }
    .val-input {
        font-size: calc(20px + (24 - 14) * ((100vw - 300px) / (1200 - 300))) !important;
        height: calc(60px + (24 - 14) * ((100vw - 300px) / (1200 - 300))) !important;
    }
    .new-register {
        font-size: calc(20px + (24 - 14) * ((100vw - 300px) / (1200 - 300))) !important;
    }
}

.noScroll {
    overflow: hidden;
}

#map {
    position: absolute;
    bottom: 0;
    height: 100%;
    width: 91%;
    margin-left: 4.5%;
    border: 1px solid white;
    top: 2%;
}

.i-fab {
    width: 5vh;
    height: 5vh;
    margin-left: -90%;
    margin-top: -144%;
}

//   .mapboxgl-ctrl-attrib-inner {
//     --display: none !important;
// }
//   #map {
//     position: absolute;
//     top: 0;
//     bottom: 0;
//     width: 100%;
//     // height: 100% ;
//   }
.marker {
    // background-image: url('../../assets/markers/marker.png');
    // background-size: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}

.position-label {
    font-size: 12px;
    font-weight: 400;
}

.label {
    font-family: OpenSans;
    font-size: 10px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #979797;
}

// .mapbox{
//   height: 300px;
//   width: 300px;
// }
// .map-container {
//     width: 100%;
//     height: 100%;
//   }
.politicas {
    text-align: center;
    margin-top: 5px;
    display: block;
    font-family: Poppins;
    font-size: 12px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.2px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    color: #597bf0;
}

.entrega p {
    font-family: Poppins;
    font-size: 13px;
    font-weight: 500;
    font-style: normal;
}

ion-col {
    text-align: center;
}

.items-horario {
    padding: 2px 0px 3px 22px;
    //background-color: #f3f4f8;
}

.bg-items {
    background-color: #f3f4f8;
    border: solid 1px #dfe4e6;
    color: #8c8c8c;
}