<ion-header>
    <ion-toolbar color="primary">
        <ion-back-button class="title-toolbar" slot="start"> </ion-back-button>
        <ion-title class="title-toolbar">PAGO</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content class="bg-section">

    <div class="div-slide">
        <ion-row class="row-slide">
            <ion-col size="4" class="title-slide">

                <p class="cart-badge">1</p>
                <hr class="line"> FACTURACIÓN
            </ion-col>

            <ion-col size="4" class="title-slide">

                <p class="cart-badge">1</p>
                <hr class="line"> ENVÍO
            </ion-col>
            <ion-col size="4" class="title-slide">
                <p class="cart-badge">1</p>
                PAGO
            </ion-col>
        </ion-row>
    </div>

    <section>
        <div *ngIf="isDatosPersonales">
            <form [formGroup]="datosPersonalesFrom">
                <ion-row class="row-data-fac">
                    <ion-col size="12">
                        <!-- <ion-label class="position-label">Nombres</ion-label> -->
                        <ion-input class="mail" type="text" formControlName="nombres" placeholder="Nombre">
                        </ion-input>
                        <ion-label *ngIf="datosPersonalesFrom.get('nombres').errors && datosPersonalesFrom.get('nombres').dirty">
                            <p class="validator" ion-text *ngIf="datosPersonalesFrom.get('nombres').hasError('required')">
                                Este campo es requerido
                            </p>
                        </ion-label>
                    </ion-col>

                    <ion-col size="12">
                        <!-- <ion-label class="position-label">Apellidos</ion-label> -->
                        <ion-input class="mail" type="text" formControlName="apellidos">
                        </ion-input>
                        <ion-label *ngIf="datosPersonalesFrom.get('apellidos').errors && datosPersonalesFrom.get('apellidos').dirty">
                            <p class="validator" ion-text *ngIf="datosPersonalesFrom.get('apellidos').hasError('required')">
                                Este campo es requerido
                            </p>
                        </ion-label>
                    </ion-col>

                    <ion-col size="12">
                        <!-- <ion-label class="position-label">Email</ion-label> -->
                        <ion-input class="mail" type="text" formControlName="email" placeholder="Email">
                        </ion-input>
                        <ion-label *ngIf="datosPersonalesFrom.get('email').errors && datosPersonalesFrom.get('email').dirty">
                            <p class="validator" ion-text *ngIf="datosPersonalesFrom.get('email').hasError('required')">
                                Este campo es requerido
                            </p>
                            <p class="validator" ion-text *ngIf="datosPersonalesFrom.get('email').hasError('email')">
                                El email es inválido
                            </p>
                        </ion-label>
                    </ion-col>

                    <ion-col size="12">
                        <!-- <ion-label class="position-label">Teléfono</ion-label> -->
                        <ion-input class="mail" type="text" formControlName="telefono" placeholder="Telefono">
                        </ion-input>
                        <ion-label *ngIf="datosPersonalesFrom.get('telefono').errors && datosPersonalesFrom.get('telefono').dirty">
                            <p class="validator" ion-text *ngIf="datosPersonalesFrom.get('telefono').hasError('required')">
                                Este campo es requerido
                            </p>
                        </ion-label>
                    </ion-col>

                    <ion-col size="12">
                        <!-- <ion-label class="position-label">Identificación</ion-label> -->
                        <ion-input class="mail" type="text" formControlName="identificacion" placeholder="Identificación">
                        </ion-input>
                        <ion-label *ngIf="datosPersonalesFrom.get('identificacion').errors && datosPersonalesFrom.get('identificacion').dirty">
                            <p class="validator" ion-text *ngIf="datosPersonalesFrom.get('identificacion').hasError('required')">
                                Este campo es requerido
                            </p>
                            <p class="validator" ion-text *ngIf="datosPersonalesFrom.get('identificacion').hasError('pattern')">
                                El campo debe contener 10 números
                            </p>
                        </ion-label>
                    </ion-col>
                </ion-row>
                <div class="div-button-footer">
                    <button class="accept-edit" type="submit" (click)="goDireccion()" [disabled]="datosPersonalesFrom.invalid">
                        PROCEDER A ENVÍO</button>
                </div>

            </form>
        </div>


        <div *ngIf="isDireccion">
            <section>
                <ion-col size="12">
                    <form [formGroup]="direccionForm">
                        <ion-list-header>
                            <ion-label class="best-results">Direccion de entrega</ion-label>
                        </ion-list-header>
                        <ion-row>
                            <ion-col size="6">
                                <ion-label class="position-label">Calle Principal</ion-label>
                                <ion-input class="mail" type="text" formControlName="callePrincipal">
                                </ion-input>
                                <ion-label *ngIf="direccionForm.get('callePrincipal').errors && direccionForm.get('callePrincipal').dirty">
                                    <p class="validator" ion-text *ngIf="direccionForm.get('callePrincipal').hasError('required')">
                                        Este campo es requerido
                                    </p>
                                </ion-label>
                            </ion-col>
                            <ion-col size="6">
                                <ion-label class="position-label">Calle Secundaria</ion-label>
                                <ion-input class="mail" type="text" formControlName="calleSecundaria">
                                </ion-input>
                                <ion-label *ngIf="direccionForm.get('calleSecundaria').errors && direccionForm.get('calleSecundaria').dirty">
                                    <p class="validator" ion-text *ngIf="direccionForm.get('calleSecundaria').hasError('required')">
                                        Este campo es requerido
                                    </p>
                                </ion-label>
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col size="6">
                                <ion-label class="position-label">Num casa</ion-label>
                                <ion-input class="mail" type="text" formControlName="numCasa">
                                </ion-input>
                                <ion-label *ngIf="direccionForm.get('numCasa').errors && direccionForm.get('numCasa').dirty">
                                    <p class="validator" ion-text *ngIf="direccionForm.get('numCasa').hasError('required')">
                                        Este campo es requerido
                                    </p>
                                </ion-label>
                            </ion-col>

                            <ion-col size="6">
                                <ion-label class="position-label">Referencia</ion-label>
                                <ion-input class="mail" type="text" formControlName="referencia">
                                </ion-input>
                                <ion-label *ngIf="direccionForm.get('referencia').errors && direccionForm.get('referencia').dirty">
                                    <p class="validator" ion-text *ngIf="direccionForm.get('referencia').hasError('required')">
                                        Este campo es requerido
                                    </p>
                                </ion-label>
                            </ion-col>
                        </ion-row>

                        <ion-row>
                            <ion-col size="6">
                                <ion-label class="position-label">Ciudad</ion-label>
                                <ion-input class="mail" type="text" formControlName="ciudad">
                                </ion-input>
                                <ion-label *ngIf="direccionForm.get('ciudad').errors && direccionForm.get('ciudad').dirty">
                                    <p class="validator" ion-text *ngIf="direccionForm.get('ciudad').hasError('required')">
                                        Este campo es requerido
                                    </p>
                                </ion-label>
                            </ion-col>
                        </ion-row>
                    </form>
                </ion-col>
            </section>
        </div>

    </section>

    <section *ngIf="isPago">
        <ion-list>
            <ion-radio-group [(ngModel)]="metodoPago" (ionSelect)="selectmetodo()">
                <ion-list-header>
                    <ion-label>Método de pago</ion-label>
                </ion-list-header>

                <ion-item>
                    <fa-icon slot="start" [icon]="faCreditCard"></fa-icon>
                    <ion-label>Tarjeta de Crédito/Débito </ion-label>
                    <ion-radio [disabled]="true" slot="end" value="tarjeta"></ion-radio>
                </ion-item>

                <ion-item>
                    <fa-icon slot="start" [icon]=" faMoneyCheckAlt"></fa-icon>
                    <ion-label>Trasnferencia Bancaria</ion-label>
                    <ion-radio [disabled]="true" slot="end" value="transferencia"></ion-radio>
                </ion-item>

                <ion-item>
                    <fa-icon slot="start" [icon]=" faMoneyBill"></fa-icon>
                    <ion-label>Pagar en la entrega</ion-label>
                    <ion-radio slot="end" value="entrega" checked></ion-radio>
                </ion-item>
            </ion-radio-group>
        </ion-list>


        <div class="ion-padding entrega" *ngIf="metodoPago=='entrega'">
            <h5>Ten presente los siguientes consejos: </h5>
            <p> 1. Estar presente al horario establecido de entrega. </p>
            <p> 2. Tener el dinero a la mano cuando se entregue tu pedido. </p>
            <p> 3. Revisar si tu pedido esta completo. </p>
            <p> 4. Confirmar que tu pedido ha sido entregado con exito para terminar la compra. </p>
        </div>

        <ion-list *ngIf="metodoPago=='tarjeta'">
            <ion-item>
                <ion-label position="stacked">Número tarjeta</ion-label>
                <ion-input placeholder="xxxxxxxxxxxxxx" type="text">
                </ion-input>
            </ion-item>


            <ion-item>
                <ion-label position="stacked">Fecha de expiración</ion-label>
                <ion-input placeholder=".. /...." type="text">
                </ion-input>
            </ion-item>

            <ion-item>
                <ion-label position="stacked">CVC</ion-label>
                <ion-input placeholder="..." type="text">
                </ion-input>
            </ion-item>

        </ion-list>

        <section>

            <ion-row>
                <ion-col size="2">
                    <ion-checkbox class="ion-text-left" [(ngModel)]="cboxPoliticas"></ion-checkbox>

                </ion-col>
                <ion-col size="10">
                    <p class="politicas">Acepto las <a href="http://medipharm.com.ec/sistema-medico/#/politicas">condiciones
                            de uso y políticas de privacidad</a> de Medipharm </p>

                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col class="ion-text-center" size="12">
                    <ion-button [disabled]="(!cboxPoliticas || !selectMetodo)" class="accept-edit" (click)="goPay()">
                        Pagar</ion-button>
                </ion-col>
            </ion-row>
        </section>

    </section>

    <!-- MAPA UBICACION-->
    <div [hidden]="!isDireccion">
        <div class="map" id="map"></div>
        <ion-fab (click)="getCurrentPosition()" vertical="center" horizontal="end" slot="">
            <ion-fab-button>
                <ion-icon color="light" name="locate"></ion-icon>
            </ion-fab-button>
        </ion-fab>
    </div>

</ion-content>



<ion-row [hidden]="!isDireccion">
    <ion-col size="6">
        <ion-button class="accept-edit" (click)="goDatos()">Atrás</ion-button>
    </ion-col>
    <ion-col size="6">
        <ion-button class="accept-edit" (click)="gotoPagos()" [disabled]="direccionForm.invalid">
            Siguiente</ion-button>
    </ion-col>
</ion-row>