<ion-header>
    <ion-toolbar>
        <ion-title>
            <ion-icon class="icon-desplegable" name="ios-arrow-down" (click)="closeModal()">
            </ion-icon>
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid class="container-info">
        <ion-row>
            <ion-col>
                <h4 class="accept">Listo,<br> tu cita será agendada:</h4>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <button class="label-content">
          <ion-row>
            <ion-icon class="time"  name="time"></ion-icon>
            <ion-col class="name" size="12">
              {{hourAccept.medico.priNombre}} &nbsp;{{hourAccept.medico.priApellido}}
            </ion-col>
            <ion-col class="esp" size="12">
              {{hourAccept.medico.especialidad.nombre}}
            </ion-col>
            <ion-col class="fecha" size="12">
              {{hourAccept.fecha}}&nbsp;&nbsp; &nbsp;&nbsp;{{hourAccept.hora}}
            </ion-col>
            <ion-col class="cm" size="12">
              {{hourAccept.centroMedico.nombre}}
            </ion-col>
          </ion-row>
        </button>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-button class="ok" type="submit" (click)="AcceptPosponed(hourAccept)">ENTENDIDO</ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>